.board-list {
    .table {
        td {
            text-align: center;
            &.title {
                overflow: hidden;
                padding-left: 20px;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                a {
                    position: relative;
                    overflow: hidden;
                    display: inline-block;
                    width: 400px;
                    color: #666;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    img {
                        margin-left: 5px;
                        vertical-align: middle;
                    }
                }
            }
            .label {
                display: inline-block;
                padding: 0;
                min-width: 50px;
                vertical-align: middle;
                font-size: 12px;
                line-height: 20px;
                border-radius: 5px;
                &.label-notice {
                    background-color: #d22d36;
                }
            }
        }
        tbody {
            tr {
                &.reply {
                    td.title {
                        a:before {
                            content: 'ㄴ';
                        }
                    }
                }
                &:last-child {
                    td {
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
        }
    }
    .paging {
        position: relative;
        .pagination {
            margin-top: 10px;
            margin-bottom: 100px;
        }
        .btn-area {
            margin-top: 0 !important;
            p {
                text-align: right;
                .btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}

.board-view {
    width: 870px;
    border-top: 2px solid #333;
    > header {
        position: relative;
        padding: 10px 250px 10px 30px;
        background-color: #f9f9f9;
        border-bottom: 1px solid #ccc;
        text-overflow: ellipsis;
        white-space: nowrap;
        h3 {
            overflow: hidden;
            display: block;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 23px;
        }
        dl {
            position: absolute;
            top: 10px;
            right: 30px;
            line-height: 23px;
            dt {
                display: none;
            }
            dd {
                display: inline-block;
                &:nth-of-type(2):before {
                    padding-left: 3px;
                    padding-right: 6px;
                    content: '|';
                }
            }
        }
    }
    > .board-content {
        padding: 20px !important;
        min-height: 300px;
        font-size: 14px !important;
        line-height: 30px !important;
        color: #666 !important;
        border-bottom: 1px solid #ccc;
    }
    > .board-nav {
        li {
            border-bottom: 1px solid #ccc;
            a {
                position: relative;
                overflow: hidden;
                display: block;
                padding-left: 55px;
                padding-right: 10px;
                font-size: 14px;
                color: #666;
                line-height: 40px;
                text-overflow: ellipsis;
                white-space: nowrap;
                > .glyphicon {
                    position: absolute;
                    left: 15px;
                    line-height: 40px;
                    color: #999;
                    font-size: 10px;
                }
            }
        }
    }
    > .btn-area {
        .row {
            > div {
                &:nth-of-type(1) {
                    .btn-list {
                        width: 90px;
                        background-color: #333;
                        border-color: #333;
                        color: #fff;
                    }
                }
                &:nth-of-type(2) {
                    text-align: right;
                    .btn {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.board-write {
    .table {
        tbody {
            td {
                label {
                    font-weight: normal;
                }
                .form-control {
                    border-radius: 0;
                    box-shadow: none;
                }
                &:nth-of-type(1) {
                    padding-left: 40px;
                    background-color: #f9f9f9;
                    color: #333 !important;
                }
                &:nth-of-type(2) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
    .btn-area {
        p {
            text-align: center;
            .btn {
                margin: 0 5px;
                width: 100px;
            }
        }
    }
}