/* service */
.campuslife.service .student-support {overflow:hidden; }
.campuslife.service h3 {background:url("/images/campuslife/service_bg.png") center top no-repeat; width:220px; height:252px; text-align:center; padding-top:158px; font-size:18px; color:#fff; margin-top:100px; float:left; }
.campuslife.service .student-support {float:left; margin-top:130px; margin-left:81px; }
.campuslife.service .student-support ul:first-child {margin-bottom:20px; }
.campuslife.service .student-support ul:first-child li {background:url("/images/campuslife/red_arrow.png") center left no-repeat; padding-left:15px; font-size:14px; font-weight:bold; line-height:24px; }
.campuslife.service .student-support ul:nth-of-type(2) li {font-size:13px; line-height:22px; letter-spacing:-1px; }
.campuslife.service .student-support ul:nth-of-type(2) li:before {content:"* "; vertical-align:middle; }
.campuslife.service .student-support p {background:url("/images/campuslife/login_btn.png") center top no-repeat;width:120px; height:40px; margin-top:20px; font-size:14px; font-weight:bold; }
.campuslife.service .student-support p a {color:#fff; line-height:40px; padding-left:19px; width:120px; height:40px; text-decoration:none; display:block;}
.campuslife.service .student-support p span {margin-left:25px; font-size:10px; }

/* benefit */
.campuslife.notice_benefit .benefit {margin-top:40px; color:#555; }
.campuslife.notice_benefit .benefit .tab-content h3 {background:url("/images/campuslife/m_img.png") center left no-repeat; text-indent:10px; margin-top:40px; }
.campuslife.notice_benefit .benefit .tab-content ul li h4 {background:url("/images/campuslife/red_arrow.png") left center no-repeat; text-indent:10px; font-size:14px; font-weight:bold; margin-left:13px;}
.campuslife.notice_benefit .benefit .tab-content ul:nth-of-type(1) li:nth-of-type(1) h4 {margin:33px 0 5px 13px; }
.campuslife.notice_benefit .benefit .tab-content ul li ul li {position:relative; padding-left:10px; margin-left:23px; font-size:14px; line-height:24px; }
.campuslife.notice_benefit .benefit .tab-content ul li ul li:before {content:'• '; position:absolute; left:0; top:0; }
.campuslife.notice_benefit .benefit .tab-content ul li:nth-of-type(2) ul li ul {margin-left:-23px; }
.campuslife.notice_benefit .benefit .tab-content ul li:nth-of-type(2) ul li ul li {position:relative; padding-left:10px; }
.campuslife.notice_benefit .benefit .tab-content ul li:nth-of-type(2) ul li ul li:before {content:'- '; position:absolute; left:0; top:3px;}
.campuslife.notice_benefit .benefit .tab-content ul li:nth-of-type(2) ul li ul li p {position:relative; padding-left:10px; margin-bottom:5px;}
.campuslife.notice_benefit .benefit .tab-content ul li:nth-of-type(2) ul li ul li p:before {content:'*'; position:absolute; left:0; top:3px; }
.campuslife.notice_benefit .benefit .tab-content ul li:nth-of-type(3) li i {font-style:normal; color:#000; }
.campuslife.notice_benefit .benefit .tab-content ul:nth-of-type(2) {margin-top:28px;}
.campuslife.notice_benefit .benefit .tab-content ul:nth-of-type(2) h4 {color:#d22d36; }
.campuslife.notice_benefit .benefit .tab-content ul:nth-of-type(2) ul {overflow:hidden; padding:0 50px; margin:0; }
.campuslife.notice_benefit .benefit .tab-content ul:nth-of-type(2) li ul li {padding-left:0; }
.campuslife.notice_benefit .benefit .tab-content ul:nth-of-type(2) li ul li {margin-left:0; }
.campuslife.notice_benefit .benefit .tab-content ul:nth-of-type(2) ul li {float:left; background:url("/images/introduce/arrow.png") 177px 70px no-repeat;  text-align:center; margin-top:42px; width:203px; padding-right:45px; }
.campuslife.notice_benefit .benefit .tab-content ul:nth-of-type(2) ul li:before {content:""; }
.campuslife.notice_benefit .benefit .tab-content ul:nth-of-type(2) ul li:nth-of-type(4)  {background:none; width:160px; padding-right:0px; }
.campuslife.notice_benefit .benefit .tab-content ul:nth-of-type(2) ul li p {margin-top:18px; font-size:13px; line-height:20px; letter-spacing:-1px; }
.campuslife.notice_benefit .benefit .btn-area {padding-top:19px; text-align:center; }
.campuslife.notice_benefit .benefit .btn-area .btn-primary {font-size:14px; font-weight:bold; width:240px; height:40px; margin-bottom:120px; }
.campuslife.notice_benefit .benefit .btn-area .btn-primary p {margin-top:30px; }
body.sub #content .benefit .btn-area .btn.btn-primary {background-color:#333;}
.campuslife.notice_benefit .benefit .btn-area .btn span {margin-left:10px; font-size:10px;}


/* inside */
.campuslife.notice_inside .inside {margin-top:40px; }
.campuslife.notice_inside .inside .tab-content h3 {background:url("/images/campuslife/m_img.png") center left no-repeat; text-indent:10px; margin:40px 0; color:#000; }
.campuslife.notice_inside .inside .tab-content h3 small {color:#000; font-size:20px; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody {letter-spacing:-1px; text-align:center; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(1) {height:120px; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr td:nth-of-type(3) {text-align:left; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(7) {height:80px; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(8) {height:80px; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr td:nth-of-type(8) {text-align:left; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr td:nth-of-type(8) p {position:relative; padding-left:10px; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr td:nth-of-type(8) p:before {content:"*"; position:absolute; top:5; left:0; font-size:10px; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(8) td {background:url("/images/campuslife/chek_bg.png"); }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(8) td:nth-of-type(2) {text-align:left; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(8) td:nth-of-type(3) {text-align:center; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(10) {height:80px; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(10) td {text-align:center; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(10) td:nth-of-type(2) {text-align:left; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(10) td:nth-of-type(7) {text-align:left; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(11) td {background:url("/images/campuslife/chek_bg.png"); }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(12) td {background:url("/images/campuslife/chek_bg.png"); }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(13) td {background:url("/images/campuslife/chek_bg.png"); }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(13) td:nth-of-type(1) {padding:0; margin:0; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(14) td {background:url("/images/campuslife/chek_bg.png"); }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(14) td:nth-of-type(1) {padding:0; margin:0; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(15) td {background:url("/images/campuslife/chek_bg.png"); text-align:center; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(16) td {background:url("/images/campuslife/chek_bg.png"); }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(17) td {background:url("/images/campuslife/chek_bg.png"); }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(17) td:nth-of-type(1) {padding:0; margin:0; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(18) {height:160px; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(18) td {background:url("/images/campuslife/chek_bg.png"); text-align:center; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(18) td:nth-of-type(2) {text-align:left; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(18) td:nth-of-type(7) {text-align:left; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(19) td {text-align:center; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(19) td:nth-of-type(2) {text-align:left; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(19) td:nth-of-type(7) {text-align:left; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(20) td {background:url("/images/campuslife/chek_bg.png"); text-align:center;}
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(20) td:nth-of-type(2) {text-align:left; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(21) {height:80px; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(21) td {text-align:center; }
.campuslife.notice_inside .inside .tab-content .table-wrap .table tbody tr:nth-of-type(21) td:nth-of-type(2) {text-align:left; }

/* standard */
.campuslife.notice_inside .inside .standard {margin-bottom:150px; }
.campuslife.notice_inside .inside .standard h3 {background:url("/images/campuslife/m_img.png") center left no-repeat; text-indent:10px; margin:60px 0 40px 0; color:#000; }
.campuslife.notice_inside .inside .standard .table-wrap {text-align:center; letter-spacing:-1px; }
.campuslife.notice_inside .inside .standard .table-wrap .table tbody tr:nth-of-type(1) {height:80px; }
.campuslife.notice_inside .inside .standard .table-wrap .table tbody tr:nth-of-type(2) td {font-weight:bold; }

/* outside */
.campuslife.notice_outside .outside {margin:30px 0 150px 0; }
.campuslife.notice_outside .outside .tab-content h3 {background:url("/images/campuslife/m_img.png") center left no-repeat; text-indent:10px; margin:40px 0; color:#000; }
.campuslife.notice_outside .outside .tab-content .table {letter-spacing:-1px; text-align:center; }
.campuslife.notice_outside .outside .tab-content .table thead tr td {margin:0; padding:0;}
.campuslife.notice_outside .outside .tab-content .table tbody tr {height:79px;}


/* bus-intro */
.campuslife.school-bus i {font-style:normal; color:#d22d36; }
.campuslife.school-bus .bus-intro p img {margin:50px 0 40px 0; }

/* seoul-gyeonggi */
.campuslife.school-bus .seoul-gyeonggi h3 {background:url("/images/campuslife/m_img.png") center left no-repeat; text-indent:10px; margin-bottom:40px; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap {margin-left:20px; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr td {letter-spacing:-1px; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) {height:80px; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(1) {text-align:center; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(2) p:nth-of-type(1) span{background:url("/images/campuslife/sr_arrow.png") center center no-repeat; width:5px; height:8px; padding:0 10px; display:inline-block; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(3) ul li ul {overflow:hidden; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(3) ul li ul li:nth-of-type(1) {position:relative; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(3) ul li ul li:nth-of-type(1):before {content:'('; position:absolute; top:0; left:5px; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(3) ul li ul li:nth-of-type(4) {position:relative; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(3) ul li ul li:nth-of-type(4):before {content:')'; position:absolute; top:0; right:5px; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(3) ul li ul li {background:url("/images/campuslife/sr_arrow.png") center right no-repeat; float:left; text-align:left; padding:0 10px; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(3) ul li ul li:nth-of-type(4) {background:none; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(2) p:nth-of-type(2):before {content:"*"; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(2) {height:160px; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(2) td:nth-of-type(1) {text-align:center; }
.campuslife.school-bus .seoul-gyeonggi .table-wrap .table tbody tr:nth-of-type(2) td:nth-of-type(2) ul li ul li {background:url("/images/campuslife/sr_arrow.png") 0px 6px no-repeat; padding-left:15px; }

/* jeonju-iksan */
.campuslife.school-bus .jeonju-iksan {margin-top:60px; }
.campuslife.school-bus .jeonju-iksan h3 {background:url("/images/campuslife/m_img.png") center left no-repeat; text-indent:10px; margin-bottom:40px; }
.campuslife.school-bus .jeonju-iksan .table-wrap {margin-left:20px; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table {letter-spacing:-1px; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(1) {height:160px; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(1) {text-align:center; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(2) ul {overflow:hidden; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(3) ul {overflow:hidden; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr td ul li {background:url("/images/campuslife/sr_arrow.png") center right no-repeat;  float:left; padding-right:15px; padding-left:10px;}
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(2) ul li:nth-of-type(1) {margin-left:0; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr td ul li:last-child {background:none; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(2) {height:80px; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(2) td:nth-of-type(1) {text-align:center; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(2) td:nth-of-type(4) {text-align:center; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(2) td:nth-of-type(4):before {content:"*"; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(2) td:nth-of-type(2) ul {overflow:hidden; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(3) {height:80px; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(2) td:nth-of-type(3) ul {overflow:hidden; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(3) td ul {overflow:hidden; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(3) td:nth-of-type(1) {text-align:center; }
.campuslife.school-bus .jeonju-iksan .table-wrap .table tbody tr:nth-of-type(3) td:nth-of-type(2) p {margin-left:10px; }

/* major */
.campuslife.school-bus .major {margin:60px 0 150px 10px; }
.campuslife.school-bus .major ul li h4 {background:url("/images/campuslife/red_arrow.png") center left no-repeat; font-size:14px; padding-left:15px; margin-bottom:5px; font-weight:bold; } 
.campuslife.school-bus .major ul li {letter-spacing:-0.5px; }
.campuslife.school-bus .major ul li ul li {padding-left:16px; font-size:14px; line-height:24px; }
.campuslife.school-bus .major ul li ul li:before {content:"•"; padding-right:8px; }
.campuslife.school-bus .major ul li ul li:last-child {margin-bottom:28px; }
.campuslife.school-bus .major ul li:nth-of-type(3) ul li:nth-of-type(1) span {background:url("/images/campuslife/sr_arrow.png") center center no-repeat; width:5px; height:8px; padding:0 15px; display:inline-block; }
.campuslife.school-bus .major ul li:nth-of-type(3) ul li:nth-of-type(4):before {content:"*"; }
.campuslife.school-bus .major ul li:nth-of-type(3) ul li:nth-of-type(4) span {text-decoration:underline; } 
.campuslife.school-bus .major ul li:nth-of-type(4) li a {text-decoration:underline; }
.campuslife.school-bus .major .table-wrap {margin-left:15px; }
.campuslife.school-bus .major .table-wrap .table {text-align:center; }
.campuslife.school-bus .major .table-wrap .table tbody tr td span {background:url("/images/campuslife/sr_arrow.png") center center no-repeat; width:5px; height:8px; padding:0 20px; display:inline-block; }
