.community.board.list .search-area {
  margin-bottom: 40px; }

.community.star .search-area {
  margin-bottom: 20px; }
.community.star .star-wrap {
  position: relative; }
  .community.star .star-wrap .star-view {
    margin: 0 auto 35px;
    width: 540px;
    height: 620px; }
    .community.star .star-wrap .star-view ul > li figure img {
      width: 540px;
      height: 540px;
      border-radius: 50%; }
    .community.star .star-wrap .star-view ul > li figure figcaption {
      margin-top: 25px; }
      .community.star .star-wrap .star-view ul > li figure figcaption dl {
        font-size: 16px;
        color: #333;
        line-height: 24px;
        text-align: center; }
        .community.star .star-wrap .star-view ul > li figure figcaption dl dt, .community.star .star-wrap .star-view ul > li figure figcaption dl dd {
          display: inline-block; }
        .community.star .star-wrap .star-view ul > li figure figcaption dl dt {
          font-weight: normal; }
          .community.star .star-wrap .star-view ul > li figure figcaption dl dt:after {
            padding-left: 3px;
            content: '/'; }
        .community.star .star-wrap .star-view ul > li figure figcaption dl dd.br {
          display: block; }
        .community.star .star-wrap .star-view ul > li figure figcaption dl dd:nth-of-type(3):after {
          padding-left: 3px;
          content: '/'; }
    .community.star .star-wrap .star-view .controls a {
      position: absolute;
      top: 255px; }
      .community.star .star-wrap .star-view .controls a.prev {
        left: 75px; }
      .community.star .star-wrap .star-view .controls a.next {
        right: 75px; }
  .community.star .star-wrap .star-list > ul {
    overflow: hidden; }
    .community.star .star-wrap .star-list > ul > li {
      float: left;
      margin-right: 23px;
      margin-bottom: 55px;
      width: 200px; }
      .community.star .star-wrap .star-list > ul > li:nth-of-type(4n) {
        margin-right: 0; }
      .community.star .star-wrap .star-list > ul > li a {
        display: block;
        text-decoration: none; }
        .community.star .star-wrap .star-list > ul > li a:hover, .community.star .star-wrap .star-list > ul > li a:focus {
          opacity: .9; }
        .community.star .star-wrap .star-list > ul > li a figure img {
          width: 200px;
          height: 200px;
          border-radius: 50%; }
        .community.star .star-wrap .star-list > ul > li a figure figcaption {
          margin-top: 15px; }
          .community.star .star-wrap .star-list > ul > li a figure figcaption dl {
            font-size: 16px;
            color: #333;
            text-align: center; }
            .community.star .star-wrap .star-list > ul > li a figure figcaption dl dt, .community.star .star-wrap .star-list > ul > li a figure figcaption dl dd {
              display: inline-block;
              font-weight: normal; }
            .community.star .star-wrap .star-list > ul > li a figure figcaption dl dt:after {
              padding-left: 3px;
              content: '/'; }
  .community.star .star-wrap .paging {
    position: relative; }
    .community.star .star-wrap .paging .pagination {
      margin-top: 10px;
      margin-bottom: 100px; }
    .community.star .star-wrap .paging .btn-area {
      margin-top: 0 !important; }
      .community.star .star-wrap .paging .btn-area p .btn {
        position: absolute;
        top: 0;
        right: 0; }

.community.lodging-house .search-area {
  margin-bottom: 40px; }
.community.lodging-house .house-list > ul {
  overflow: hidden; }
  .community.lodging-house .house-list > ul > li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 280px;
    height: 300px;
    border: 1px solid #dfdfdf; }
    .community.lodging-house .house-list > ul > li:nth-of-type(3n) {
      margin-right: 0; }
    .community.lodging-house .house-list > ul > li > a {
      display: block;
      text-decoration: none; }
      .community.lodging-house .house-list > ul > li > a:focus, .community.lodging-house .house-list > ul > li > a:hover {
        opacity: .9; }
      .community.lodging-house .house-list > ul > li > a .figure {
        margin-left: -1px;
        margin-right: -1px;
        margin-top: -1px;
        width: 280px;
        height: 150px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover; }
      .community.lodging-house .house-list > ul > li > a .details {
        padding: 20px;
        width: 100%;
        height: 150px; }
        .community.lodging-house .house-list > ul > li > a .details dl:nth-of-type(1) {
          margin-top: 10px;
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid #dfdfdf; }
          .community.lodging-house .house-list > ul > li > a .details dl:nth-of-type(1) dt {
            margin-bottom: 10px;
            font-size: 14px;
            color: #333;
            font-weight: normal; }
          .community.lodging-house .house-list > ul > li > a .details dl:nth-of-type(1) dd {
            display: inline-block;
            font-size: 13px;
            color: #555; }
            .community.lodging-house .house-list > ul > li > a .details dl:nth-of-type(1) dd:nth-of-type(1):after {
              padding-left: 3px;
              content: '/'; }
        .community.lodging-house .house-list > ul > li > a .details dl:nth-of-type(2) {
          float: left;
          font-size: 13px; }
          .community.lodging-house .house-list > ul > li > a .details dl:nth-of-type(2) dd {
            color: #555; }
        .community.lodging-house .house-list > ul > li > a .details dl:nth-of-type(3) {
          float: right;
          font-size: 13px; }
          .community.lodging-house .house-list > ul > li > a .details dl:nth-of-type(3) dt, .community.lodging-house .house-list > ul > li > a .details dl:nth-of-type(3) dd {
            display: inline-block; }
          .community.lodging-house .house-list > ul > li > a .details dl:nth-of-type(3) dd {
            color: #555; }
.community.lodging-house .paging {
  position: relative; }
  .community.lodging-house .paging .pagination {
    margin-top: 10px;
    margin-bottom: 100px; }
  .community.lodging-house .paging .btn-area {
    margin-top: 0 !important; }
    .community.lodging-house .paging .btn-area p .btn {
      position: absolute;
      top: 0;
      right: 0; }

.community.sexual-counsel .overview {
  margin-bottom: 25px;
  padding-top: 35px;
  width: 870px;
  height: 350px;
  background-image: url(/images/community/bg_sexual.jpg);
  background-repeat: no-repeat;
  color: #fff;
  text-align: center; }
  .community.sexual-counsel .overview hr {
    margin: 0 auto;
    width: 40px;
    border-color: #fff;
    text-align: center; }
  .community.sexual-counsel .overview h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-style: italic;
    font-weight: 100; }
  .community.sexual-counsel .overview p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px; }
    .community.sexual-counsel .overview p:nth-of-type(2) {
      margin-top: 25px; }
      .community.sexual-counsel .overview p:nth-of-type(2) a {
        display: inline-block;
        margin: 0 5px; }
.community.sexual-counsel .info {
  margin-bottom: 150px; }
  .community.sexual-counsel .info dl {
    font-size: 14px; }
    .community.sexual-counsel .info dl dt {
      margin-top: 5px;
      font-weight: 500;
      background-image: url(/images/community/ico_arrow_red.png);
      background-position: 0 50%;
      background-repeat: no-repeat; }
    .community.sexual-counsel .info dl dt, .community.sexual-counsel .info dl dd {
      padding-left: 15px;
      line-height: 24px;
      color: #555; }
  .community.sexual-counsel .info .help {
    font-size: 13px;
    color: #d22d36; }
    .community.sexual-counsel .info .help:before {
      padding-right: 5px;
      content: '*'; }

.community.student-counsel .overview {
  margin-bottom: 25px;
  padding-top: 40px;
  width: 870px;
  height: 210px;
  background-image: url(/images/community/bg_counsel.jpg);
  background-repeat: no-repeat;
  color: #fff;
  text-align: center; }
  .community.student-counsel .overview hr {
    margin: 0 auto;
    width: 40px;
    border-color: #fff;
    text-align: center; }
  .community.student-counsel .overview h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-style: italic;
    font-weight: 100; }
  .community.student-counsel .overview p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px; }
.community.student-counsel .info {
  margin-bottom: 25px; }
  .community.student-counsel .info h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 14px;
    line-height: 24px;
    background-image: url(/images/community/ico_arrow_red.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    color: #555; }
  .community.student-counsel .info dl {
    font-size: 14px; }
    .community.student-counsel .info dl dt {
      padding-left: 15px;
      background-image: url(/images/community/ico_list_dot.gif);
      background-position: 0 50%;
      background-repeat: no-repeat;
      font-weight: normal; }
      .community.student-counsel .info dl dt:after {
        padding-left: 3px;
        padding-right: 3px;
        content: ':'; }
    .community.student-counsel .info dl dt, .community.student-counsel .info dl dd {
      line-height: 24px;
      color: #555; }
    .community.student-counsel .info dl p {
      padding-left: 15px;
      color: #999; }
  .community.student-counsel .info .help {
    margin-left: 10px;
    font-size: 13px;
    line-height: 24px;
    color: #d22d36; }
    .community.student-counsel .info .help:before {
      padding-right: 5px;
      content: '*'; }
  .community.student-counsel .info.service h4 {
    margin-bottom: 5px; }
  .community.student-counsel .info.service dt {
    float: left; }
  .community.student-counsel .info.service dd {
    display: block;
    margin-bottom: 5px; }
  .community.student-counsel .info.use dt {
    float: left;
    margin-top: 0; }
  .community.student-counsel .info.use dt, .community.student-counsel .info.use dd {
    display: block !important; }

/*# sourceMappingURL=community.css.map */



/* 리플 및 댓글달기 */
.community.view {
	padding-bottom:150px;
}
.community.view .board-view .attach {
	padding:0 20px 20px;
	background-image:url(/images/ico_clip.png);
	background-repeat:no-repeat;
	background-position:20px 4px;
	border-bottom:1px solid #ccc;
}
.community.view .board-view .attach li {
	display:inline-block;
	margin-right:5px;
}
.community.view .board-view .attach li:nth-of-type(1) {
	padding-left:20px;
}
.community.view .board-view .attach li:after {
	content:",";
}
.community.view .board-view .attach li:last-child {
	margin-right:0;
}
.community.view .board-view .attach li:last-child:after {
	content:"";
}
.community.view .board-view .attach li a {
	color:#999;
	font-size:14px;
}
.community.view .reply-area {
	margin-top:40px;
}
.community.view .reply-area .reply .reply-header {
	overflow:hidden;
	background-color:#f9f9f9;
	padding:10px 30px 10px 30px;
	border-top:1px solid #ccc;
}
.community.view .reply-area .reply .reply-header > p {
	font-size:14px;
	font-weight:500;
	display:inline-block;
}
.community.view .reply-area .reply .reply-header > p span {
	font-size:12px;
	font-weight:300;
}
.community.view .reply-area .reply .reply-header > p span:before {
	content:"|";
	padding:10px;
}
.community.view .reply-area .reply .reply-header ul {
	float:right;
}
.community.view .reply-area .reply .reply-header ul li {
	display:inline-block;
	font-size:14px;
}
.community.view .reply-area .reply .reply-header ul li:last-child {
	margin-left:20px;
}
.community.view .reply-area .reply .reply-header ul li a {
	color:#999;
	padding-left:15px;
}
.community.view .reply-area .reply .reply-header ul li .modify {
	background-image:url(/images/community/btn_modify.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
}
.community.view .reply-area .reply .reply-header ul li .delete {
	background-image:url(/images/community/btn_del.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
}
.community.view .reply-area .reply .reply-content {
	padding:20px;
	font-size:14px;
	line-height:30px;
}
.community.view .reply-area .reply-form {
	margin-top:30px;
	border-top:1px solid #ccc;
}
.community.view .reply-area .reply-form form {
	margin-top:30px;
	padding:20px;
	border:1px solid #ccc;
	background-color:#f7f7f7;
	overflow:hidden;
}
.community.view .reply-area .reply-form form textarea {
	width:705px; 
	height:100px;
	float:left;
	border-color:#ebebeb;
}
.community.view .reply-area .reply-form form button {
	color:#fff;
	width:100px;
	height:100px;
	border:0;
	margin-left:20px;
	background-color:#b2b2b2;
	float:left;
	font-size:14px;
}



.community.view .reply-area .no-reply { 
	font-size:14px;
	border-top:1px solid #ccc;
	padding:20px;
	text-align:center;
}
