body {
  min-width: 1200px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  background-color: #222;
  color: #333; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin: 0;
  padding: 0; }

address {
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

label {
  margin-bottom: 0;
  font-weight: normal; }

.container {
  min-width: 1200px; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1200px;
  height: 160px;
  background-color: #fff;
  border-bottom: 2px solid #f8b61d; }
  #header > .container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    height: 100%; }
  #header h1 {
    float: left;
    margin-top: 30px; }
  #header .util > ul {
    position: absolute;
    top: 40px;
    right: 340px; }
    #header .util > ul li {
      display: inline-block;
      margin-left: 20px; }
      #header .util > ul li a {
        color: #666;
        line-height: 26px; }
  #header .util .dropdown {
    position: absolute;
    top: 40px;
    margin-right: 0;
    width: 155px; }
    #header .util .dropdown .btn {
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      height: 26px;
      border-radius: 0;
      border-color: #ccc;
      text-align: left;
      font-size: 13px; }
      #header .util .dropdown .btn span {
        position: absolute;
        top: 0;
        right: 0;
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        border-left: 1px solid #ccc; }
      #header .util .dropdown .btn:focus, #header .util .dropdown .btn:active {
        background-color: #E6E6E6; }
    #header .util .dropdown .dropdown-menu {
      left: 0;
      right: 0;
      top: 25px;
      margin-top: 0;
      min-width: 155px;
      border-radius: 0; }
      #header .util .dropdown .dropdown-menu li {
        margin-left: 0; }
        #header .util .dropdown .dropdown-menu li a {
          font-size: 12px; }
    #header .util .dropdown.depart {
      right: 0; }
    #header .util .dropdown.campus {
      right: 165px; }
  #header #gnb {
    position: relative;
    margin-top: -48px;
    width: 100%;
    height: 50px;
    z-index: 100; }
    #header #gnb > .container {
      padding-left: 0;
      padding-right: 0; }
      #header #gnb > .container > ul {
        overflow: hidden; }
        #header #gnb > .container > ul > li {
          float: left;
          margin-left: 100px;
          width: 72px;
          background-color: transparent; }
          #header #gnb > .container > ul > li:nth-of-type(1) {
            margin-left: 0; }
            #header #gnb > .container > ul > li:nth-of-type(1) > div > .container {
              background-image: url(/images/bg_gnb_1.gif);
              background-repeat: no-repeat;
              background-position: 0 200px; }
          #header #gnb > .container > ul > li:nth-of-type(4) > div > .container {
            background-image: url(/images/bg_gnb_4.gif);
            background-repeat: no-repeat;
            background-position: 0 180px; }
          #header #gnb > .container > ul > li:nth-of-type(5) > div > .container {
            background-image: url(/images/bg_gnb_5.gif);
            background-repeat: no-repeat;
            background-position: 0 180px; }
          #header #gnb > .container > ul > li:nth-of-type(6) {
            width: 135px; }
          #header #gnb > .container > ul > li:nth-of-type(7) {
            width: 105px; }
          #header #gnb > .container > ul > li > a {
            display: block;
            width: 100%;
            height: 50px;
            text-align: center;
            font-size: 17px;
            color: #000;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: -1px; }
          #header #gnb > .container > ul > li > div {
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            background-color: #fff; }
            #header #gnb > .container > ul > li > div > .container {
              padding-left: 0;
              padding-right: 0;
              min-height: 315px; }
              #header #gnb > .container > ul > li > div > .container .summary {
                float: left;
                width: 225px;
                letter-spacing: -1px; }
                #header #gnb > .container > ul > li > div > .container .summary h3 {
                  margin-top: 40px;
                  margin-bottom: 10px;
                  font-size: 20px;
                  font-weight: bold; }
                #header #gnb > .container > ul > li > div > .container .summary hr {
                  margin: 0;
                  width: 70px;
                  border-top-color: #333;
                  text-align: left; }
                #header #gnb > .container > ul > li > div > .container .summary p {
                  margin-top: 20px;
                  font-size: 13px;
                  color: #666;
                  line-height: 20px; }
              #header #gnb > .container > ul > li > div > .container .sub {
                overflow: hidden;
                margin-top: 85px;
                margin-left: 500px;
                width: 600px; }
                #header #gnb > .container > ul > li > div > .container .sub li {
                  float: left;
                  margin-bottom: 20px;
                  width: 150px; }
                  #header #gnb > .container > ul > li > div > .container .sub li a {
                    font-size: 14px;
                    color: #333;
                    text-decoration: none;
                    letter-spacing: -1px; }
                    #header #gnb > .container > ul > li > div > .container .sub li a:focus, #header #gnb > .container > ul > li > div > .container .sub li a:hover {
                      color: #faa61a; }
          #header #gnb > .container > ul > li.active > a {
            background-image: url(/images/ico_gnb_active.gif);
            background-repeat: no-repeat;
            background-position: 50% 100%; }
          #header #gnb > .container > ul > li.active > div {
            display: block; }

body.main #content {
  margin-top: 160px;
  min-height: 500px;
  background-color: #eee; }

.font-roboto {
  font-family: 'Roboto', sans-serif; }

/*
body.sub {
    #container {
        margin-top: 160px;
        background-color: #ffcb05;
        background-image: url(/images/bg_sub_body.gif);
        background-repeat: repeat-y;
        background-position: 50% 0;
    }
    #aside {
        width: 230px;
        background-color: yellow;
    }
    #content {
        min-height: 500px;
        background-color: #fff;
    }
}
*/
body.sub > .wrapper {
  margin-top: 160px;
  background-image: url(/images/bg_sub_body.gif);
  background-repeat: repeat-y;
  background-position: 50% 0; }
  body.sub > .wrapper > .visual {
    height: 240px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #fff;
    font-family: 'Roboto', sans-serif; }
    body.sub > .wrapper > .visual p {
      margin-top: 65px;
      color: #fff;
      font-size: 30px;
      font-weight: bold; }
    body.sub > .wrapper > .visual.visual-1 {
      background-image: url(/images/bg_sub_visual_1.jpg); }
    body.sub > .wrapper > .visual.visual-2 {
      background-image: url(/images/bg_sub_visual_2.jpg); }
    body.sub > .wrapper > .visual.visual-4 {
      background-image: url(/images/bg_sub_visual_4.jpg); }
    body.sub > .wrapper > .visual.visual-5 {
      background-image: url(/images/bg_sub_visual_5.jpg); }
  body.sub > .wrapper > .container {
    display: table;
    width: 100%; }
    body.sub > .wrapper > .container .aside {
      display: table-cell;
      width: 230px;
      background-color: #ffcb05;
      vertical-align: top; }
      body.sub > .wrapper > .container .aside #aside h3 {
        margin-top: 60px;
        margin-bottom: 70px;
        padding-left: 15px;
        font-size: 30px;
        color: #000;
        letter-spacing: -2px; }
      body.sub > .wrapper > .container .aside #aside #lnb {
        margin-bottom: 40px; }
        body.sub > .wrapper > .container .aside #aside #lnb ul li a {
          display: block;
          padding-left: 15px;
          height: 50px;
          color: #000;
          font-size: 15px;
          line-height: 50px;
          letter-spacing: -1px; }
        body.sub > .wrapper > .container .aside #aside #lnb ul li.active {
          margin-left: -15px;
          background-image: url(/images/bg_lnb_active.gif);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-color: #fff; }
          body.sub > .wrapper > .container .aside #aside #lnb ul li.active a {
            padding-left: 45px;
            font-size: 17px;
            font-weight: bold;
            text-decoration: none; }
      body.sub > .wrapper > .container .aside #aside .quick {
        margin-bottom: 20px;
        width: 200px; }
        body.sub > .wrapper > .container .aside #aside .quick ul {
          margin-left: 0;
          margin-right: 0; }
          body.sub > .wrapper > .container .aside #aside .quick ul li {
            margin-bottom: 30px;
            padding-left: 0;
            padding-right: 0;
            background-repeat: no-repeat;
            background-position: 50% 0; }
            body.sub > .wrapper > .container .aside #aside .quick ul li a {
              display: block;
              padding-top: 45px;
              height: 65px;
              color: #000;
              text-align: center;
              line-height: 20px;
              font-size: 13px;
              letter-spacing: -1px; }
            body.sub > .wrapper > .container .aside #aside .quick ul li:nth-of-type(1) {
              background-image: url(/images/ico_printer.png); }
            body.sub > .wrapper > .container .aside #aside .quick ul li:nth-of-type(2) {
              background-image: url(/images/ico_namecard.png); }
            body.sub > .wrapper > .container .aside #aside .quick ul li:nth-of-type(3) {
              background-image: url(/images/ico_car.png); }
            body.sub > .wrapper > .container .aside #aside .quick ul li:nth-of-type(4) {
              background-image: url(/images/ico_rollpaper.png); }
    body.sub > .wrapper > .container .content {
      display: table-cell;
      padding-left: 70px;
      padding-top: 60px;
      width: 940px;
      height: 500px;
      background-color: #fff;
      vertical-align: top; }
      body.sub > .wrapper > .container .content .breadcrumb {
        margin-bottom: 25px;
        padding: 0;
        background-color: #fff; }
        body.sub > .wrapper > .container .content .breadcrumb li {
          color: #555; }
          body.sub > .wrapper > .container .content .breadcrumb li:before {
            content: '>'; }
          body.sub > .wrapper > .container .content .breadcrumb li:first-child:before {
            content: ''; }
          body.sub > .wrapper > .container .content .breadcrumb li a {
            color: #555; }
      body.sub > .wrapper > .container .content #content .page-header {
        margin-top: 0;
        margin-bottom: 50px;
        border-bottom: 0; }
        body.sub > .wrapper > .container .content #content .page-header h2 {
          margin-bottom: 30px;
          letter-spacing: -2px;
          font-size: 44px; }
          body.sub > .wrapper > .container .content #content .page-header h2 small {
            letter-spacing: -1px;
            font-size: 18px; }
            body.sub > .wrapper > .container .content #content .page-header h2 small i {
              color: #f5b324;
              font-style: normal; }
        body.sub > .wrapper > .container .content #content .page-header hr {
          margin: 0 0 0 1px;
          width: 35px;
          border-top-color: #000;
          text-align: left; }
body.sub #content .table-wrap {
  border-top: 2px solid #555; }
  body.sub #content .table-wrap .table {
    border-top: 0;
    border-spacing: 0; }
    body.sub #content .table-wrap .table th, body.sub #content .table-wrap .table td {
      height: 40px;
      vertical-align: middle; }
    body.sub #content .table-wrap .table th {
      border-top: 0;
      background-color: #f9f9f9; }
    body.sub #content .table-wrap .table thead th {
      border-top: 0;
      border-bottom: 0;
      text-align: center;
      font-size: 14px;
      font-weight: normal; }
    body.sub #content .table-wrap .table tbody th {
      font-size: 14px;
      text-align: center;
      font-weight: normal; }
    body.sub #content .table-wrap .table tbody td {
      font-size: 14px;
      color: #666; }
    body.sub #content .table-wrap .table.non-thead tbody td {
      border-top: 0; }
body.sub #content ul.nav li a {
  border: 1px solid #dfdfdf;
  border-left: 0;
  border-radius: 0;
  background-color: #f9f9f9;
  line-height: 21px;
  color: #333;
  font-size: 14px;
  letter-spacing: -1px; }
body.sub #content ul.nav li:first-child a {
  border-left: 1px solid #dfdfdf; }
body.sub #content ul.nav li.active a {
  background-color: #685b55;
  border-color: #685b55;
  color: #fff; }
body.sub #content .paging {
  text-align: center; }
  body.sub #content .paging .pagination li a {
    border-radius: 50%;
    color: #666;
    border: 0;
    font-size: 14px; }
    body.sub #content .paging .pagination li a:focus, body.sub #content .paging .pagination li a:hover {
      background-color: #fff;
      text-decoration: underline; }
  body.sub #content .paging .pagination li.active a {
    background-color: #333;
    color: #fff;
    text-decoration: none; }
body.sub #content .search-area {
  position: relative; }
  body.sub #content .search-area .form-group {
    margin-bottom: 0;
    height: 40px; }
    body.sub #content .search-area .form-group #search-keyword {
      position: relative;
      -webkit-transition: none;
      transition: none;
      height: 40px;
      padding-right: 40px;
      box-shadow: none;
      border-radius: 0;
      vertical-align: top; }
      body.sub #content .search-area .form-group #search-keyword:focus {
        border-color: #ccc; }
  body.sub #content .search-area button[type="submit"] {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 38px;
    height: 38px;
    color: #ccc;
    background-color: #fff;
    border-radius: 0; }
body.sub #content .btn-area {
  margin-top: 20px; }
  body.sub #content .btn-area .btn {
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 0; }
    body.sub #content .btn-area .btn.btn-sm {
      padding-top: 0;
      padding-bottom: 0;
      height: 30px;
      font-size: 14px;
      line-height: 28px; }
    body.sub #content .btn-area .btn.btn-primary {
      min-width: 90px;
      background-color: #685b55;
      border-color: #685b55; }
      body.sub #content .btn-area .btn.btn-primary:focus, body.sub #content .btn-area .btn.btn-primary:hover {
        background-color: rgba(104, 91, 85, 0.85);
        border-color: rgba(104, 91, 85, 0.85); }
    body.sub #content .btn-area .btn.btn-default {
      min-width: 60px; }
    body.sub #content .btn-area .btn.btn-important {
      min-width: 90px;
      background-color: #d22d36;
      border-color: #d22d36;
      color: #fff; }
      body.sub #content .btn-area .btn.btn-important:focus, body.sub #content .btn-area .btn.btn-important:hover {
        background-color: rgba(210, 45, 54, 0.85);
        border-color: rgba(210, 45, 54, 0.85); }
body.sub #content .accordion-list .panel {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none; }
  body.sub #content .accordion-list .panel .panel-heading {
    padding: 0;
    background-color: #f9f9f9; }
    body.sub #content .accordion-list .panel .panel-heading .panel-title {
      font-size: 14px;
      color: #333;
      line-height: 23px;
      font-weight: bold; }
      body.sub #content .accordion-list .panel .panel-heading .panel-title a {
        display: block;
        padding: 10px 20px;
        background-image: url(/images/ico_menu_up.png);
        background-repeat: no-repeat;
        background-position: 820px 50%; }
        body.sub #content .accordion-list .panel .panel-heading .panel-title a.collapsed {
          background-image: url(/images/ico_menu_down.png);
          background-position: 820px 50%; }
  body.sub #content .accordion-list .panel .panel-body {
    padding: 20px;
    border-top: 1px solid #ccc; }
  body.sub #content .accordion-list .panel:first-child {
    border-top: 2px solid #555; }
body.sub.departs > .wrapper {
  background-image: url(/images/bg_departments.gif);
  background-position: 0 0;
  background-repeat: repeat; }
  body.sub.departs > .wrapper > .container {
    display: block;
    width: 1170px;
    min-width: 1200px; }
    body.sub.departs > .wrapper > .container .content {
      display: block; }

#footer {
  height: 200px;
  background-color: #333; }
  #footer .container {
    position: relative;
    padding-left: 0;
    padding-right: 0; }
  #footer h2 {
    margin-top: 35px;
    margin-bottom: 25px; }
  #footer .policy {
    margin-bottom: 10px; }
    #footer .policy li {
      display: inline-block;
      color: #999; }
      #footer .policy li:before {
        padding-left: 10px;
        padding-right: 10px;
        content: '|'; }
      #footer .policy li:first-child:before {
        padding-left: 0;
        padding-right: 0;
        content: ''; }
      #footer .policy li a {
        color: #999; }
  #footer .contact {
    margin-bottom: 15px; }
    #footer .contact li {
      display: inline-block;
      color: #f9f9f9; }
      #footer .contact li dl {
        display: inline-block; }
        #footer .contact li dl dt, #footer .contact li dl dd {
          display: inline-block; }
        #footer .contact li dl dt {
          font-weight: normal; }
      #footer .contact li:before {
        padding-left: 10px;
        padding-right: 10px;
        content: '|'; }
      #footer .contact li:first-child:before {
        padding-left: 0;
        padding-right: 0;
        content: ''; }
  #footer .copyright p {
    color: #777; }
    #footer .copyright p a {
      color: #777; }
  #footer .commission {
    position: absolute;
    top: 80px;
    right: 15px; }

#not-supported-ie-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  z-index: 9998; }

#not-supported-ie-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 9999; }
  #not-supported-ie-content p {
    text-align: center;
    font-size: 30px; }

/*# sourceMappingURL=default.css.map */
