body {
    min-width: 1200px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    background-color: #222;
    color: #333;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
dl {
    margin: 0;
    padding: 0;
}
address {
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
label {
    margin-bottom: 0;
    font-weight: normal;
}
.container {
    min-width: 1200px;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    height: 160px;
    background-color: #fff;
    border-bottom: 2px solid #f8b61d;
    &.gnb-opened {
        
    }
    > .container {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
    }
    h1 {
        float: left;
        margin-top: 30px;
    }
    .util {
        > ul {
            position: absolute;
            top: 40px;
            right: 340px;
            li {
                display: inline-block;
                margin-left: 20px;
                a {
                    color: #666;
                    line-height: 26px;
                }
            }
        }
        .dropdown {
            position: absolute;
            top: 40px;
            margin-right: 0;
            width: 155px;
            &.depart {
                right: 0;
            }
            &.campus {
                right: 165px;
            }
            .btn {
                padding-top: 0;
                padding-bottom: 0;
                width: 100%;
                height: 26px;
                border-radius: 0;
                border-color: #ccc;
                text-align: left;
                font-size: 13px;
                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 26px;
                    height: 26px;
                    text-align: center;
                    line-height: 26px;
                    border-left: 1px solid #ccc;
                }
            }
            .dropdown-menu {
                left: 0;
                right: 0;
                top: 25px;
                margin-top: 0;
                min-width: 155px;
                border-radius: 0;
                li {
                    margin-left: 0;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    #gnb {
        position: relative;
        margin-top: -48px;
        width: 100%;
        height: 50px;
        z-index: 100;
        > .container {
            padding-left: 0;
            padding-right: 0;
            > ul {
                overflow: hidden;
                > li {
                    float: left;
                    margin-left: 100px;
                    width: 72px;
                    background-color: transparent;
                    &:nth-of-type(1) {
                        margin-left: 0;
                        > div {
                            > .container {
                                background-image: url(/images/bg_gnb_1.gif);
                                background-repeat: no-repeat;
                                background-position: 0 200px;
                            }
                        }
                    }
                    &:nth-of-type(4) {
                        > div {
                            > .container {
                                background-image: url(/images/bg_gnb_4.gif);
                                background-repeat: no-repeat;
                                background-position: 0 180px;
                            }
                        }
                    }
                    &:nth-of-type(5) {
                        > div {
                            > .container {
                                background-image: url(/images/bg_gnb_5.gif);
                                background-repeat: no-repeat;
                                background-position: 0 180px;
                            }
                        }
                    }
                    &:nth-of-type(6) {
                        width: 135px;
                    }
                    &:nth-of-type(7) {
                        width: 105px;
                    }
                    > a {
                        display: block;
                        width: 100%;
                        height: 50px;
                        text-align: center;
                        font-size: 17px;
                        color: #000;
                        text-decoration: none;
                        font-weight: bold;
                        letter-spacing: -1px;
                    }
                    > div {
                        display: none;
                        position: absolute;
                        top: 50px;
                        left: 0;
                        width: 100%;
                        background-color: #fff;
                        > .container {
                            padding-left: 0;
                            padding-right: 0;
                            min-height: 315px;
                            .summary {
                                float: left;
                                width: 225px;
                                letter-spacing: -1px;
                                h3 {
                                    margin-top: 40px;
                                    margin-bottom: 10px;
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                                hr {
                                    margin: 0;
                                    width: 70px;
                                    border-top-color: #333;
                                    text-align: left;
                                }
                                p {
                                    margin-top: 20px;
                                    font-size: 13px;
                                    color: #666;
                                    line-height: 20px;
                                }
                            }
                            .sub {
                                overflow: hidden;
                                margin-top: 85px;
                                margin-left: 500px;
                                width: 600px;
                                li {
                                    float: left;
                                    margin-bottom: 20px;
                                    width: 150px;
                                    a {
                                        font-size: 14px;
                                        color: #333;
                                        text-decoration: none;
                                        letter-spacing: -1px;
                                        &:focus,
                                        &:hover {
                                            color: #faa61a;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.active {
                        > a {
                            background-image: url(/images/ico_gnb_active.gif);
                            background-repeat: no-repeat;
                            background-position: 50% 100%;
                        }
                        > div {
                            display: block;
                        }
                    }
                }  
            }
        }
    }
}

body.main {
    #content {
        margin-top: 160px;
        min-height: 500px;
        background-color: #eee;
    }
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}
/*
body.sub {
    #container {
        margin-top: 160px;
        background-color: #ffcb05;
        background-image: url(/images/bg_sub_body.gif);
        background-repeat: repeat-y;
        background-position: 50% 0;
    }
    #aside {
        width: 230px;
        background-color: yellow;
    }
    #content {
        min-height: 500px;
        background-color: #fff;
    }
}
*/
body.sub {
    > .wrapper {
        margin-top: 160px;
        background-image: url(/images/bg_sub_body.gif);
        background-repeat: repeat-y;
        background-position: 50% 0;
        > .visual {
            height: 240px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            background-color: #fff;
            font-family: 'Roboto', sans-serif;
            p {
                margin-top: 65px;
                color: #fff;
                font-size: 30px;
                font-weight: bold;
            }
            &.visual-1 {
                background-image: url(/images/bg_sub_visual.gif);
            }
        }
        > .container {
            display: table;
            width: 100%;
            .aside {
                display: table-cell;
                width: 230px;
                background-color: #ffcb05;
                vertical-align: top;
                #aside {
                    h3 {
                        margin-top: 60px;
                        margin-bottom: 70px;
                        padding-left: 15px;
                        font-size: 30px;
                        color: #000;
                        letter-spacing: -2px;
                    }
                    #lnb {
                        margin-bottom: 40px;
                        ul {
                            li {
                                a {
                                    display: block;
                                    padding-left: 15px;
                                    height: 50px;
                                    color: #000;
                                    font-size: 15px;
                                    line-height: 50px;
                                    letter-spacing: -1px;
                                }
                                &.active {
                                    margin-left: -15px;
                                    background-image: url(/images/bg_lnb_active.gif);
                                    background-repeat: no-repeat;
                                    background-position: 0 0;
                                    background-color: #fff;
                                    a {
                                        padding-left: 45px;
                                        font-size: 17px;
                                        font-weight: bold;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                    .quick {
                        margin-bottom: 20px;
                        width: 200px;
                        ul {
                            margin-left: 0;
                            margin-right: 0;
                            li {
                                margin-bottom: 30px;
                                padding-left: 0;
                                padding-right: 0;
                                background-repeat: no-repeat;
                                background-position: 50% 0;
                                a {
                                    display: block;
                                    padding-top: 45px;
                                    height: 65px;
                                    color: #000;
                                    text-align: center;
                                    line-height: 20px;
                                    font-size: 13px;
                                    letter-spacing: -1px;
                                }
                                &:nth-of-type(1) {
                                    background-image: url(/images/ico_printer.png);
                                }
                                &:nth-of-type(2) {
                                    background-image: url(/images/ico_namecard.png);
                                }
                                &:nth-of-type(3) {
                                    background-image: url(/images/ico_car.png);
                                }
                                &:nth-of-type(4) {
                                    background-image: url(/images/ico_rollpaper.png);
                                }
                            }
                        }
                    }
                }
            }
            .content {
                display: table-cell;
                padding-left: 70px;
                padding-top: 60px;
                width: 940px;
                height: 500px;
                background-color: #fff;
                vertical-align: top;
                .breadcrumb {
                    margin-bottom: 25px;
                    padding: 0;
                    background-color: #fff;
                    li {
                        color: #555;
                        &:before {
                            content: '>';
                        }
                        &:first-child:before {
                            content: '';
                        }
                        a {
                            color: #555;
                        }
                    }
                }
                #content {
                    .page-header {
                        margin-top: 0;
                        margin-bottom: 55px;
                        border-bottom: 0;
                        h2 {
                            margin-bottom: 30px;
                            letter-spacing: -2px;
                            font-size: 44px;
                            small {
                                letter-spacing: -1px;
                                font-size: 18px;
                                i {
                                    color: #f5b324;
                                    font-style: normal;
                                }
                            }
                        }
                        hr {
                            margin: 0 0 0 1px;
                            width: 35px;
                            border-top-color: #000;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
    #content {
        .table-wrap {
            border-top: 2px solid #555;
            .table {
                border-top: 0;
                border-spacing: 0;
                th, td {
                    height: 40px;
                    vertical-align: middle;
                }
                th {
                    border-top: 0;
                    background-color: #f9f9f9;
                }
                thead {
                    th {
                        border-top: 0;
                        border-bottom: 0;
                        text-align: center;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
                tbody {
                    th {
                        font-size: 14px;
                        text-align: center;
                        font-weight: normal;
                    }
                    td {
                        font-size: 14px;
                        color: #666;
                    }
                }
                &.non-thead {
                    tbody {
                        td {
                            border-top: 0;
                        }
                    }
                }
            }
        }
        ul.nav {
            li {
                a {
                    border: 1px solid #dfdfdf;
                    border-left: 0;
                    border-radius: 0;
                    background-color: #f9f9f9;
                    line-height: 21px;
                    color: #333;
                    font-size: 14px;
                    letter-spacing: -1px;
                }
                &:first-child {
                    a {
                        border-left: 1px solid #dfdfdf;
                    }
                }
                &.active {
                    a {
                        background-color: #685b55;
                        border-color: #685b55;
                        color: #fff;
                    }
                }
            }
        }
        .paging {
            text-align: center;
            .pagination {
                li {
                    a {
                        border-radius: 50%;
                        color: #666;
                        border: 0;
                        font-size: 14px;
                        &:focus,
                        &:hover {
                            background-color: #fff;
                            text-decoration: underline;
                        }
                    }
                    &.active {
                        a {
                            background-color: #333;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .search-area {
            position: relative;
            .form-group {
                margin-bottom: 0;
                height: 40px;
                #search-keyword {
                    position: relative;
                    -webkit-transition: none;
                    transition: none;
                    height: 40px;
                    padding-right: 40px;
                    box-shadow: none;
                    border-radius: 0;
                    vertical-align: top;
                    &:focus {
                        border-color: #ccc;
                    }
                }
            }
            button[type="submit"] {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 38px;
                height: 38px;
                color: #ccc;
                background-color: #fff;
                border-radius: 0;
            }
        }
        .btn-area {
            margin-top: 20px;
            .btn {
                padding-top: 9px;
                padding-bottom: 9px;
                border-radius: 0;
                &.btn-sm {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 30px;
                    font-size: 14px;
                    line-height: 28px;
                }
                &.btn-primary {
                    min-width: 90px;
                    background-color: #685b55;
                    border-color: #685b55;
                    &:focus,
                    &:hover {
                        background-color: rgba(#685b55, .85);
                        border-color: rgba(#685b55, .85);
                    }
                }
                &.btn-default {
                    min-width: 60px;
                }
                &.btn-important {
                    min-width: 90px;
                    background-color: #d22d36;
                    border-color: #d22d36;
                    color: #fff;
                    &:focus,
                    &:hover {
                        background-color: rgba(#d22d36, .85);
                        border-color: rgba(#d22d36, .85);
                    }
                }
            }
        }
        .accordion-list {
            .panel {
                margin-top: 0;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid #ccc;
                .panel-heading {
                    padding: 0;
                    background-color: #f9f9f9;
                    .panel-title {
                        font-size: 14px;
                        color: #333;
                        line-height: 23px;
                        font-weight: bold;
                        a {
                            display: block;
                            padding: 10px 20px;
                            background-image: url(/images/ico_menu_up.png);
                            background-repeat: no-repeat;
                            background-position: 820px 50%;
                            &.collapsed {
                                background-image: url(/images/ico_menu_down.png);
                                background-position: 820px 50%;
                            }
                        }
                    }
                }
                .panel-body {
                    padding: 20px;
                    border-top: 1px solid #ccc;
                }
                &:first-child {
                    border-top: 2px solid #555;
                }
            }
        }
    }
}

#footer {
    height: 200px;
    background-color: #333;
    .container {
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }
    h2 {
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .policy {
        margin-bottom: 10px;
        li {
            display: inline-block;
            color: #999;
            &:before {
                padding-left: 10px;
                padding-right: 10px;
                content: '|';
            }
            &:first-child:before {
                padding-left: 0;
                padding-right: 0;
                content: '';
            }
            a {
                color: #999;
            }
        }
    }
    .contact {
        margin-bottom: 15px;
        li {
            display: inline-block;
            color: #f9f9f9;
            dl {
                display: inline-block;
                dt, dd {
                    display: inline-block;
                }
                dt {
                    font-weight: normal;
                }
            }
            &:before {
                padding-left: 10px;
                padding-right: 10px;
                content: '|';
            }
            &:first-child:before {
                padding-left: 0;
                padding-right: 0;
                content: '';
            }
        }
    }
    .copyright{
        p {
            color: #777;
            a {
                color: #777;
            }
        }
    }
    .commission {
        position: absolute;
        top: 80px;
        right: 15px;
    }
}

#not-supported-ie-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    z-index: 9998;
}
#not-supported-ie-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 9999;
    p {
        text-align: center;
        font-size: 30px;
    }
}