/* vision*/
/* ideology */
.introduce.vision .ideology .section-header {font-size:24px; margin-top:50px; }
.introduce.vision .ideology .section-header h3 {background:url("/images/introduce/m_img.png") center left no-repeat; text-indent:10px;  }
.introduce.vision .ideology .section-content {text-align:center; }
.introduce.vision .ideology .section-content p {font-size:18px; margin-top:50px; line-height:50px; }
.introduce.vision .ideology .section-content strong {font-size:36px; color:#d22d36; }
.introduce.vision .ideology .section-content img {margin-top:60px; }

/* purpose */
.introduce.vision .purpose .section-header {margin-top:100px; }
.introduce.vision .purpose .section-header h3 {background:url("/images/introduce/m_img.png") center left no-repeat; text-indent:10px; }
.introduce.vision .purpose .section-content strong {font-size:22px; color:#d22d36; line-height:80px; }
.introduce.vision .purpose .section-content p {font-size:15px; color:#555; line-height:28px; letter-spacing:-1px; }

/* target */
.introduce.vision .target {padding-bottom:150px; }
.introduce.vision .target .section-header {margin-top:80px; }
.introduce.vision .target .section-header h3 {background:url("/images/introduce/m_img.png") center left no-repeat; text-indent:10px; }
.introduce.vision .target p {font-size:22px; color:#333; margin-top:32px; }
.introduce.vision .target .section-content { }
.introduce.vision .target .section-content ul {overflow:hidden; margin-left:20px; }
.introduce.vision .target .section-content ul li {background:url("/images/introduce/arrow.png") 177px 70px no-repeat; float:left; text-align:center; margin-top:80px; width:205px; padding-right:45px; }
.introduce.vision .target .section-content ul li:nth-of-type(4) {background:none; width:160px; padding-right:0px; }
.introduce.vision .target .section-content ul li p {font-size:16px; line-height:20px; color:#8b8b8b; letter-spacing:-1px; }
 

/* greeting */
/* chairman */
.introduce.greeting .chairman .section-header .section-title {font-size:30px; margin-top:34px; }
.introduce.greeting .chairman .section-header .section-title span {color:#f5b324; }

/* introduce */
.introduce.greeting .chairman .section-content {width:916px; margin-top:64px; }
.introduce.greeting .chairman .section-content .introduce {position:relative; height:192px; border-bottom:2px solid #ccc;  }
.introduce.greeting .chairman .section-content .introduce img {position:absolute; bottom:0px; right:46px; }
.introduce.greeting .chairman .section-content .introduce ul {float:left; text-align:left; }
.introduce.greeting .chairman .section-content .introduce ul:nth-of-type(1) {margin-right:60px; }
.introduce.greeting .chairman .section-content .introduce ul li {font-size:15px; color:#555555; line-height:28px; text-indent:10px; }
.introduce.greeting .chairman .section-content .introduce ul li:nth-of-type(1) {background:url("/images/introduce/m_img.png") center left no-repeat; }

/* intro */
.introduce.greeting .chairman .section-content .intro {position:relative; margin-top:40px; height:190px; }
.introduce.greeting .chairman .section-content .intro p {font-size:15px; line-height:28px; color:#555; float:left; text-align:left; letter-spacing:-1px; }
.introduce.greeting .chairman .section-content .intro p:nth-of-type(2) {margin-left:30px; }
.introduce.greeting .chairman .section-content .intro img {position:absolute; bottom:0; right:0; }


/* president */
/* chancellor */
.introduce.president .chancellor .section-header .section-title {font-size:30px; margin-top:34px; }
.introduce.president .chancellor .section-header .section-title span {color:#f5b324; }

/* introduce */
.introduce.president .chancellor .section-content {width:916px; margin-top:64px; }
.introduce.president .chancellor .section-content .introduce {position:relative; height:123px; border-bottom:2px solid #ccc;  }
.introduce.president .chancellor .section-content .introduce img {position:absolute; bottom:0px; right:46px; }
.introduce.president .chancellor .section-content .introduce ul {float:left; text-align:left; }
.introduce.president .chancellor .section-content .introduce ul:nth-of-type(1) {margin-right:60px; }
.introduce.president .chancellor .section-content .introduce ul li {font-size:15px; color:#555555; line-height:28px; text-indent:10px; }
.introduce.president .chancellor .section-content .introduce ul li:nth-of-type(1) {background:url("/images/introduce/m_img.png") center left no-repeat; }

/* intro */
.introduce.president .chancellor .section-content .intro {position:relative; margin-top:40px; height:296px; }
.introduce.president .chancellor .section-content .intro p {font-size:15px; line-height:28px; color:#555; float:left; text-align:left; letter-spacing:-1px; }
.introduce.president .chancellor .section-content .intro p:nth-of-type(2) {margin-left:30px; }
.introduce.president .chancellor .section-content .intro img {position:absolute; bottom:0; right:0; }


/* history */
/* section-header */
.introduce.history .paekche-history {overflow:hidden; padding-bottom:154px; }
.introduce.history .paekche-history .section-header {position:relative; background:url("/images/introduce/bg_year.png") center no-repeat; float:left; width:284px; height:180px; margin:20px 130px 0 0; }
.introduce.history .paekche-history .section-header h3 {margin-top:45px; font-weight:bold; font-size:30px; color:#fff; line-height:30px; text-align:center; }
.introduce.history .paekche-history .section-header a {position:absolute; top:70px; left:0; }
.introduce.history .paekche-history .section-header a:nth-of-type(2) {position:absolute; top:70px; left:262px; }

/* section-content */
.introduce.history .paekche-history .section-content {float:left; overflow:hidden; width:456px; margin-top:40px; }
.introduce.history .paekche-history .section-content ol li h4 {float:left; margin:0; font-size:30px; }
.introduce.history .paekche-history .section-content ol li:nth-of-type(1) {margin-top:0; }
.introduce.history .paekche-history .section-content ol li {margin-top:58px; }
.introduce.history .paekche-history .section-content ol li ol dl {float:left; width:340px; margin-left:44px; }
.introduce.history .paekche-history .section-content ol li ol dt {float:left; color:#d22d36; font-size:16px; font-weight:bold; line-height:28px; }
.introduce.history .paekche-history .section-content ol li ol dd {font-size:14px; margin-left:60px; letter-spacing:-1px; line-height:28px; color:#555; }
.introduce.history .paekche-history .section-content ol li ol:after {content:""; display:block; clear:both; }


/* strategic */
/* vision */
.introduce.strategic .strategy .vision {background:url("/images/introduce/u_arrow.png") center bottom no-repeat; text-align:center; height:150px; margin-top:54px; }
.introduce.strategic .strategy .vision h3 {font-size:30px;}
.introduce.strategic .strategy .vision p {font-size:20px; color:#555; margin-top:22px;}

/* mission */
.introduce.strategic .strategy .mission {background:url("/images/introduce/u_arrow.png") center bottom no-repeat; text-align:center; height:150px; }
.introduce.strategic .strategy .mission h3 {font-size:30px; margin-top:50px;}
.introduce.strategic .strategy .mission p {font-size:20px; color:#555; margin-top:22px;}

/* target */
.introduce.strategic .strategy .target {background:url("/images/introduce/u_arrow.png") center bottom no-repeat; height:300px; margin-top:52px; }
.introduce.strategic .strategy .target h3 {font-size:30px; margin-top:50px; text-align:center; }
.introduce.strategic .strategy .target ul {background:url("/images/introduce/target_bg.png") center center no-repeat; width:872px; height:180px; margin-top:33px; text-align:center; padding:0 40px;}
.introduce.strategic .strategy .target ul li {background:url("/images/introduce/target.png") top center no-repeat; float:left; margin-right:24px; text-align:center; width:180px; height:180px; }
.introduce.strategic .strategy .target ul li p {font-size:18px; font-weight:bold; line-height:24px; color:#fff; margin-top:65px; }
.introduce.strategic .strategy .target ul li:nth-of-type(3) p {margin-top:75px; }
.introduce.strategic .strategy .target ul li:nth-of-type(4) {margin-right:0; }

/* core */
.introduce.strategic .strategy .core {padding-bottom:100px; }
.introduce.strategic .strategy .core h3 {font-size:30px; text-align:center; margin-top:50px; }
.introduce.strategic .strategy .core ol {margin-top:42px; text-align:center; width:100%; }
.introduce.strategic .strategy .core ol li {background:url("/images/introduce/edu.png") top center no-repeat; width:30%; display:inline-block; vertical-align:top; }
.introduce.strategic .strategy .core ol li dt h4 {font-size:15px; color:#d22d36; margin-top:108px; font-weight:bold; }
.introduce.strategic .strategy .core ol li dd {font-size:15px; color:#555; line-height:28px; letter-spacing:-1px; }
.introduce.strategic .strategy .core ol li dd:before {content:"ㆍ"; display:inline; clear:both; }
.introduce.strategic .strategy .core ol li:nth-of-type(2) {background:url("/images/introduce/research.png") top center no-repeat; }
.introduce.strategic .strategy .core ol li:nth-of-type(3) {background:url("/images/introduce/cooperation.png") top center no-repeat; }
.introduce.strategic .strategy .core ol li:nth-of-type(4) {background:url("/images/introduce/characteristic.png") top center no-repeat; width:30%; margin-top:30px; }
.introduce.strategic .strategy .core ol li:nth-of-type(5) {background:url("/images/introduce/management.png") top center no-repeat; width:30%; margin-top:30px; }

/* task */
.introduce.strategic .strategy .task {background:url("/images/introduce/task.png") center no-repeat; height:119px; margin:100px 0 150px 0; }
.introduce.strategic .strategy .task p {font-size:22px; color:#f37021; text-align:center; line-height:135px; }