/* public */
.policy p { 
	line-height:28px;
	font-size:15px;
	color:#333;
}
.policy h4,h5,h6 {
	font-size:15px;
	color:#333;
	font-weight:400;
	margin:0;
	margin-bottom:10px;
}
/* attention */
.policy .attention { 
	font-size:15px;
	color:#333;
	line-height:28px;
	letter-spacing: -1px;
}
.policy .attention:before { 
	content:"※";
	padding-right:5px;
}
/* reference */
.policy .reference {
	font-size:15px;
	color:#333;
	line-height:28px;
}
.policy .reference:before { 
	content:"<"; 
}
.policy .reference:after { 
	content:">";
}
/* decimal-list */
.policy .decimal-list { 
	padding-left:15px;
	list-style-type:decimal;
	font-size:15px;
	color:#333;
	line-height:28px;
	letter-spacing: -1px;
}
/* decimal-zero */
.policy .decimal-zero { 
	padding-left:20px;
	list-style-type:decimal-leading-zero;
	font-size:15px;
	color:#333;
	line-height:28px;
}
.hangul-list { 
	padding-left:20px;
	list-style-type:hangul;
	font-size:15px;
	color:#333;
	line-height:28px;
}
/* straight-line */
.policy .straight-line > li {
	position:relative;
	padding-left:15px;
	font-size:15px;
	color:#333;
	line-height:28px;
	letter-spacing: -1px;
}
.policy .straight-line > li:before {
	position:absolute;
	top:0;
	left:0;
	content:"-";
}
/* white-circle */
.policy .white-circle > li {
	position:relative;
	padding-left:10px;
	font-size:15px;
	color:#333;
	line-height:28px;
	letter-spacing: -1px;
}
.policy .white-circle > li:before {
	position:absolute;
	top:0;
	left:0;
	content:"°";
}
/* square-white */
.policy .square-white li {
	position:relative;
	padding-left:20px;
	font-size:15px;
	color:#333;
	line-height:28px;
	letter-spacing: -1px;
}
.policy .square-white > li:before {
	position:absolute;
	top:-4px;
	left:0;
	content:"□";
}
/* upper-roman */
.upper-roman { 
	padding-left:15px;
	list-style-type:upper-roman;
	font-size:20px;
	color:#333;
	line-height:28px;
}
/* circle-list */
.policy .circle-list {
	padding-left:0; 
}
.policy .circle-list > li {
	position:relative; 
	font-size:15px;
	color:#333;
	padding-left:20px; 
	counter-increment:my-list-index;
	line-height:28px;
	letter-spacing: -1px;
}
.policy .circle-list > li:before {
	position:absolute; 
	left:0;
	top:5px; 
	display:inline-block; 
	width:15px;
	height:15px; 
	border-radius:50%; 
	border:1px solid #333; 
	content:counter(my-list-index); 
	font-size:11px; 
	text-align:center; 
	line-height:13px; 
	letter-spacing: -1px;
}
/* square */
.policy .square {
	font-size:15px;
	color:#333;
	line-height:28px;
}
.policy .square:before {
	content:"▣";
	padding-right:5px;
}
/* square-bold */
.policy .square-bold {
	line-height:28px;
	font-size:15px;
	color:#333;
}
.policy .square-bold:before {
	content:"■";
	padding-right:5px;
}
/* law */
.policy .law {
	line-height:28px;
	font-size:15px;
	color:#333;
	margin-top:30px;
}
.policy .law:before {
	content:"[";
	padding-right:5px;
}
.policy .law:after {
	content:"]";
	padding-left:5px;
}
/* standard */
.policy .standard {
	position:relative;
	line-height:28px;
	font-size:15px;
	color:#333;
	padding-left:10px;
}
.policy .standard:before {
	position:absolute;
	top:0;
	left:0;
	content:"·";
}
.policy .star {
	font-size:15px;
	color:#333;
	padding-left:10px;
}
.policy .star:before {
	content:"*";
	padding-right:5px;
}
/* table-wrap */
.policy .table-wrap { 
	margin:10px 0 30px 15px; 
}
.policy .table-wrap .table-border { 

}
.policy .table-wrap .table thead tr th { 
	background-color:#f9f9f9;
	font-size:15px !important;
	color:#333 !important;
	text-align:center ;
	padding:10px 0 !important;
	border-left:1px solid #ccc;
	font-weight:bold !important;
}
.policy .table-wrap .table tbody tr td { 
	font-size:15px !important;
	color:#333 !important;
	text-align:center;
	padding:10px 0;
	line-height:28px;
	letter-spacing:0;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.table-wrap .table thead tr th:nth-of-type(1) { 
	border-left:0;
}
.table-wrap .table tbody tr td:nth-of-type(1) { 
	border-left:0;
}

.policy dl dt {
	line-height:28px;
}
.policy dl dd {
	line-height:28px;
}
/* inline-dl */
.policy .inline-dl {
	display:inline;
}
.policy .inline-dl dt {
	display:inline-block;
	font-size:15px;
	color:#333;
	font-weight:normal;
	line-height:28px;
}
.policy .inline-dl dd {
	display:inline;
	font-size:15px;
	color:#333;
	line-height:28px;
}
.policy .inline-dl dd:before {
	content:":";
	padding:0 6px 0 5px;
}
/* block-dl */
.policy .block-dl dt {
	font-size:15px;
	color:#333;
	font-weight:normal;
	line-height:28px;
}
.policy .block-dl dd {
	font-size:15px;
	color:#333;
	line-height:28px;
}
.policy dl dd a {
	
}

/* email */
.policy.email .attention {
	margin-bottom:20px;
}
.policy.email ul li:nth-of-type(2) .square-bold {
	margin-top:30px;
}
.policy.email ul > li .square-bold { 
	padding-left:25px;
}
.policy.email ul > li .circle-list {
	padding-left:35px;
}


/* video */
.policy.video { 
	padding-bottom:150px;
}
.policy.video .standard-list > li {
	margin-bottom:30px;
}
.policy.video .standard-list .circle-list {
	margin-left:15px;
}
.policy.video .standard-list .circle-list li .table-wrap {
	margin-left:-20px;
}


/* information */
.policy.information { 
	padding-bottom:150px;
}
.policy.information .upper-roman > li { 
	margin-bottom:20px;
}
.policy.information .upper-roman li h3 {
	margin:0;
	margin-bottom:5px;
	font-size:20px;
	color:#000;
}
.policy.information .upper-roman li h4,h5,h6 {
	font-weight:500;
	margin-bottom:0;
}
.policy.information .upper-roman .decimal-list > li {
	margin-top:15px;
} 
.policy.information .upper-roman .decimal-list > li:nth-of-type(1) {
	margin-top:0;
} 
.policy.information .upper-roman .decimal-list li .decimal-zero > li {
	margin-top:10px;
}
.policy.information .upper-roman .decimal-list li .decimal-zero .> li:nth-of-type(1) {
	margin-top:0px;
}
.policy.information .upper-roman .decimal-list li .decimal-zero .circle-list > li {
	margin:5px 0;
}
.policy.information .upper-roman .decimal-list li .decimal-zero .circle-list > li:before {
	position:absolute;
	top:1px;
}
.policy.information .upper-roman .decimal-list li .block-dl {
	margin-top:20px;
}
.policy.information .upper-roman .decimal-list li .block-dl dd .straight-line {
	margin-left:20px;
}


/* privacy */
.policy.privacy { 
	padding-bottom:150px;
}
.policy.privacy .personal-information { 
	padding:30px 15px;
}
.policy.privacy .personal-information header {
	font-size:15px;
	line-height:28px;
	color:#333;
}
.policy.privacy .personal-information .standard-list h3 {
	font-size:18px;
	font-weight:bold;
	color:#333;
}
.policy.privacy .personal-information .standard-list .standard {
	
}
.policy.privacy .personal-information .standard-list .white-circle {
	margin:10px 0 0 15px;
}
.policy.privacy .personal-information .standard-list .white-circle li {
	margin-bottom:5px;
}
.policy.privacy .personal-information .standard-list .white-circle li h4 {
	margin:10px 0 5px 0;
	font-weight:500;
}
.policy.privacy .personal-information .standard-list li h6 { 
	margin:20px 0;
	font-weight:bold;
	text-align:center;
}
.policy.privacy .personal-information .standard-list .decimal-list { 
	margin-left:15px;
}
.policy.privacy .personal-information .standard-list .decimal-list .table-wrap { 
	margin-left:-15px;
}
.policy.privacy .personal-information .standard-list .decimal-list .table-wrap .table tbody tr th { 
	background-color:#f9f9f9;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.policy.privacy .personal-information .standard-list .decimal-list .table-wrap .table tbody tr td { 
	text-align:left;
	padding:10px 15px;
}
.policy.privacy .personal-information .standard-list li:nth-of-type(4) .table-wrap .table tbody tr td { 
	padding-left:20px;
	text-align:left;
}
.policy.privacy .personal-information .standard-list li:nth-of-type(4) .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(1) { 
	text-align:center;
}
.policy.privacy .personal-information .standard-list li:nth-of-type(4) .table-wrap .table tbody tr:nth-of-type(1) td:nth-of-type(2):before { 
	position:absolute;
	top:23px;
}
.policy.privacy .personal-information .standard-list li:nth-of-type(4) .table-wrap .table tbody tr .standard:before {
	position:absolute;
	top:10px;
	left:10px;
}
.policy.privacy .personal-information .standard-list li:nth-of-type(8) .table-wrap .table thead tr:nth-of-type(1) th { 
	border-bottom:1px solid #ccc !important;
}
.policy.privacy .personal-information .standard-list li:nth-of-type(8) .table-wrap .table thead tr:nth-of-type(2) th { 
	border-left:1px solid #ccc !important;;
}
.policy.privacy .personal-information .standard-list li:nth-of-type(9) .square-white li h6 { 
	text-align:left;
}


/* privacy-tab2 */
.policy.privacy-tab2 {
	padding-bottom:150px;
}
.policy.privacy-tab2 .personal-information { 
	padding:30px 15px;
}
.policy.privacy-tab2 .personal-information .decimal-list li {
	font-size:20px;
}
.policy.privacy-tab2 .personal-information .decimal-list li h3 {
	font-size:20px;
}
.policy.privacy-tab2 .personal-information .decimal-list li h3 a {
	color:#333; 
}
.policy.privacy-tab2 .personal-information .decimal-list li h3 a:hover {
	text-decoration:underline;
}