/* board-list */
.community.board-list .board-content .search-area {
	margin:40px 0 20px 0 !important;
}
.community.board-list .board-content .board-wrap {
	border-top:2px solid #555;
}
.community.board-list .board-content .board-wrap ul li {
	border-bottom:1px solid #ccc;
	padding:12px 15px;
}
.community.board-list .board-content .board-wrap ul li h3 {
	font-size:12px;
	color:#333;
	margin-bottom:10px;
	min-width:100%;
	display:block;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.community.board-list .board-content .board-wrap ul li h3 span { 
	display:inline-block;
	width:30px;
	height:14px;
	border-radius:3px;
	background-color:#d22d36;
	color:#fff;
	font-size:10px;
	text-align:center;
	line-height:14px;
	margin-right:6px;
}
.community.board-list .board-content .board-wrap ul li p {
	font-size:11px;
	color:#666;
	display:inline;
}
.community.board-list .board-content .board-wrap ul li p:nth-of-type(2):before { 
	content:"|"; 
	padding:0 5px;
}
.community.board-list .board-content .board-wrap .btn-area { 
	margin-top:20px;
	text-align:right;
}
.community.board-list .board-content .board-wrap .btn-area .pink-btn {

}
.community.board-list .paging { 
	margin-top:40px;
	text-align:center;
}
.community.board-list .paging .pagination { 
	margin:0;
}

/* board-view */
.community.board-view .view-wrap {
	margin-top:40px;
}
.community.board-view .view-wrap .article-header {
	border-top:2px solid #333;
	border-bottom:1px solid #ccc;
	background-color:#f9f9f9;
	padding:15px;
	overflow:hidden;
}
.community.board-view .view-wrap .article-header h3 {
	margin-bottom:11px;
	font-size:13px;
	color:#333;

}
.community.board-view .view-wrap .article-header p { 
	display:inline-block;
	font-size:11px;
	color:#666;
}
.community.board-view .view-wrap .article-header p:nth-of-type(2):before {
	content:"|";
	padding:5px;
}
.community.board-view .view-wrap .article-header dl {
	overflow:hidden;
	float:right;
}
.community.board-view .view-wrap .article-header dl dt {float:left; }
.community.board-view .view-wrap .article-header dl .writer {
	float:left;
	line-height:45px;
	padding-right:10px;
	font-size:13px;
	color:#333;
}
.community.board-view .view-wrap .article-header dl .date {
	float:left;
	line-height:45px;
	font-size:13px;
	color:#333;
}
.community.board-view .view-wrap .article-header dl .date:before { 
	content:"|"; 
	padding-right:10px;
}
.community.board-view .view-wrap .article-content {
	color:#333; 
	font-size:12px;
	padding:30px 15px;
	line-height:25px;
}
.community.board-view .view-wrap .article-footer {
	padding:30px 15px;
	border-bottom:1px solid #ccc;
}
.community.board-view .view-wrap .article-footer .attach{
	overflow:hidden; 
}
.community.board-view .view-wrap .article-footer .attach dt {
	background-image:url('/mobile/images/community/attach.png');
	background-size:6px auto;
	background-repeat:no-repeat;
	background-position:0 4px;
	padding-left:10px;
	font-size:12px;
	font-weight:300;
	margin-bottom:7px;
	color:#666; 
}
.community.board-view .view-wrap .article-footer .attach dt a {
	color:#666;
}
.community.board-view .view-wrap .article-footer .attach dd {
	float:left;
	margin-left:3px;
	font-size:11px;
}
.community.board-view .view-wrap .article-footer .attach dd a {color:#222;}
.community.board-view .view-wrap > p {
	border-bottom:1px solid #ccc;
	padding:10px 15px;
}
.community.board-view .view-wrap > p a {
	color:#666; 
	padding:10px 15px;
	font-size:12px;
}
.community.board-view .view-wrap > p:nth-of-type(1) {
	background-image:url('/mobile/images/community/top_arrow.png');
	background-size:7px auto;
	background-repeat:no-repeat;
	background-position:15px 50%;
	padding-left:15px;
}
.community.board-view .view-wrap > p:nth-of-type(2) {
	background-image:url('/mobile/images/community/bottom_arrow.png');
	background-size:7px auto;
	background-repeat:no-repeat;
	background-position:15px 50%;
	padding-left:15px;
}
.community.board-view .view-wrap .btn-area { 
	margin-top:20px;
	overflow:hidden;
}
.community.board-view .view-wrap .btn-area .gray-btn {
	float:left;
}
.community.board-view .view-wrap .btn-area .white-btn {
	float:right;
}
.community.board-view .view-wrap .btn-area .white-btn:nth-of-type(1) {
	margin-left:10px;
}

/* board-write */
.community.board-write .board-content { 
	overflow:hidden;
}
.community.board-write .board-content .table-wrap { 
	margin-top:40px;
}
.community.board-write .board-content .table-wrap .table tbody tr th {
	text-align:left;
	margin:0;
	padding:0 0 0 10px;
}
.community.board-write .board-content .table-wrap .table tbody tr th label {
	margin:0;
	padding:0;
	color:#333;
	font-weight:400;
	font-size:12px;
}
.community.board-write .board-content .table-wrap .table tbody tr td {
	padding:5px 20px !important;
}
.community.board-write .board-content .table-wrap .table tbody tr td input {
	width:100%;
	height:30px;
	border:1px solid #ccc;
}
.community.board-write .board-content .table-wrap .table tbody tr td textarea {
	width:100%;
	height:131px;
	border:1px solid #ccc;
}
.community.board-write .board-content .btn-area { 
	margin-top:20px;
	float:right;
	
}
.community.board-write .board-content .btn-area .white-btn {
	margin-right:10px;
}


















/* star */
.community.star .star-content { 
	margin-top:40px;
}
.community.star .star-content .star-list ul {
	overflow:hidden;
	width:100%;
	margin:0 auto;
}
.community.star .star-content .star-list ul li {
	width:50%;
	padding:0 25px;
	float:left;
}
.community.star .star-content .star-list ul li figure { 
	width:100%;
	padding-bottom:20px;
}
.community.star .star-content .star-list ul li figure img {
	margin:0 auto;
}
.community.star .star-content .star-list ul li figure figcaption {
	text-align:center;
	margin-top:10px;
}
.community.star .star-content .star-list ul li figure figcaption dl dt {
	display:inline;
	font-size:12px;
	color:#333;
	font-weight:300;
}
.community.star .star-content .star-list ul li figure figcaption dl dd {
	display:inline-block;
	font-size:12px;
	color:#333;
}
.community.star .star-content .star-list ul li figure figcaption dl dd:before {
	content:"/";
	padding:5px;
}
.community.star .star-content .paging {
	margin-top:30px;
	text-align:center;
}
.community.star .star-content .paging .pagination {
	margin:0;
}