@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  background-color: #333;
  font-size: 12px; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.container {
  padding-left: 0;
  padding-right: 0; }
  .container .row {
    margin-left: 0;
    margin-right: 0; }

#container {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  transition: left .5s; }

.gnb-opened {
  overflow: hidden; }
  .gnb-opened #container {
    left: -200px; }

#header {
  height: 51px;
  border-bottom: 1px solid #f8b61d;
  background-color: #fff; }
  #header .container {
    position: relative; }
    #header .container .logo {
      padding-top: 8px;
      margin-left: 10px; }
      #header .container .logo img {
        display: block; }
    #header .container .btn-menu-open {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      width: 50px;
      height: 50px;
      background-color: #f8b61d;
      color: #fff;
      border-radius: 0;
      border: 0; }
      #header .container .btn-menu-open img {
        display: block; }

#gnb {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9990; }
  #gnb .gnb-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.9); }
    #gnb .gnb-container .gnb-content {
      position: absolute;
      top: 0;
      right: -250px;
      width: 200px;
      height: 100%;
      background-color: #fff;
      transition: right .3s;
      transition-property: right;
      transition-duration: .3s; }
      #gnb .gnb-container .gnb-content header {
        height: 51px;
        border-bottom: 1px solid #f8b61d; }
        #gnb .gnb-container .gnb-content header .logo {
          margin-left: 10px;
          padding-top: 10px; }
          #gnb .gnb-container .gnb-content header .logo img {
            display: block; }
        #gnb .gnb-container .gnb-content header .btn-menu-close {
          position: absolute;
          top: 0;
          left: -50px;
          width: 50px;
          height: 50px;
          background-color: transparent; }
          #gnb .gnb-container .gnb-content header .btn-menu-close img {
            display: block;
            margin: 0 auto;
            width: 15px;
            height: 15px; }
      #gnb .gnb-container .gnb-content > ul > li > a {
        display: block;
        padding-left: 10px;
        height: 40px;
        line-height: 39px;
        border-bottom: 1px solid #e3e3e3;
        font-size: 13px;
        color: #333;
        font-weight: bold; }
      #gnb .gnb-container .gnb-content > ul > li > ul {
        display: none;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e3e3e3; }
        #gnb .gnb-container .gnb-content > ul > li > ul > li > a {
          display: block;
          padding-left: 10px;
          font-size: 12px;
          line-height: 25px;
          color: #666; }
      #gnb .gnb-container .gnb-content > ul > li.active > ul {
        display: block; }

.gnb-opened #gnb {
  right: 0; }
  .gnb-opened #gnb .gnb-container .gnb-content {
    right: 0; }

#primary-menu {
  background-color: #fff;
  height: 40px;
  border-bottom: 1px solid #dfdfdf; }
  #primary-menu ul li a {
    display: block;
    line-height: 39px;
    text-align: center;
    color: #333;
    font-weight: bold;
    text-decoration: none; }
    #primary-menu ul li a:active {
      color: #f8b61d;
      line-height: 38px;
      border-bottom: 2px solid #f8b61d; }

#content {
  min-height: 100px;
  background-color: #fff; }

#quick {
  height: 40px;
  border-bottom: 1px solid #252525; }
  #quick ul {
    overflow: hidden; }
    #quick ul li {
      float: left;
      width: 25%;
      border-left: 1px solid #414141;
      border-right: 1px solid #252525; }
      #quick ul li a {
        display: block;
        line-height: 39px;
        color: #999;
        text-align: center; }
      #quick ul li:first-child {
        border-left: 0; }
      #quick ul li:last-child {
        border-right: 0; }

#footer {
  border-top: 1px solid #414141;
  text-align: center;
  font-size: 11px; }
  #footer .logo {
    margin-bottom: 25px;
    padding-top: 25px; }
    #footer .logo img {
      display: block;
      margin: 0 auto; }
  #footer .information {
    color: #f9f9f9; }
    #footer .information address {
      line-height: 18px; }
    #footer .information dl dt, #footer .information dl dd {
      display: inline-block;
      padding-left: 2px;
      padding-right: 2px;
      line-height: 18px; }
    #footer .information dl dt {
      font-weight: 300; }
  #footer .admisstion {
    margin-bottom: 15px;
    color: #f9f9f9; }
    #footer .admisstion h5 {
      display: inline-block;
      padding-left: 2px;
      padding-right: 2px;
      font-size: 11px;
      color: #f8b61d;
      font-weight: 300; }
    #footer .admisstion dl {
      display: inline-block; }
      #footer .admisstion dl dt, #footer .admisstion dl dd {
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 18px; }
      #footer .admisstion dl dt {
        font-weight: 300; }
  #footer .copyright {
    color: #777;
    font-size: 11px;
    line-height: 16px; }
    #footer .copyright a {
      color: #777; }

/*# sourceMappingURL=default.css.map */
