@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    background-color: #333;
    font-size: 12px;
}
address, p, dl {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.container {
    padding-left: 0;
    padding-right: 0;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

#header {
    height: 51px;
    border-bottom: 1px solid #f8b61d;
    background-color: #fff;
    .container {
        position: relative;
        .logo {
            padding-top: 8px;
            margin-left: 10px;
            img {
                display: block;
            }
        }
        .btn-menu-open {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            width: 50px;
            height: 50px;
            background-color: #f8b61d;
            color: #fff;
            border-radius: 0;
            border: 0;
            img {
                display: block;
            }
        }
    }
}

#primary-menu {
    background-color: #fff;
    height: 40px;
    border-bottom: 1px solid #dfdfdf;
    ul {
        li {
            a {
                display: block;
                line-height: 39px;
                text-align: center;
                color: #333;
                font-weight: bold;
                text-decoration: none;
                &:active {
                    color: #f8b61d;
                    line-height: 38px;
                    border-bottom: 2px solid #f8b61d;
                }
            }
        }
    }
}

#content {
    min-height: 100px;
    background-color: #fff;
}

#quick {
    height: 40px;
    border-bottom: 1px solid #252525;
    ul {
        overflow: hidden;
        li {
            float: left;
            width: 25%;
            border-left: 1px solid #414141;
            border-right: 1px solid #252525;
            a {
                display: block;
                line-height: 39px;
                color: #999;
                text-align: center;
            }
            &:first-child {
                border-left: 0;
            }
            &:last-child {
                border-right: 0;
            }
        }
    }
}

#footer {
    border-top: 1px solid #414141;
    text-align: center;
    font-size: 11px;
    .logo {
        margin-bottom: 25px;
        padding-top: 25px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .information {
        color: #f9f9f9;
        address {
            line-height: 18px;
        }
        dl {
            dt, dd {
                display: inline-block;
                padding-left: 2px;
                padding-right: 2px;
                line-height: 18px;
            }
            dt {
                font-weight: 300;
            }    
        }
    }
    .admisstion {
        margin-bottom: 15px;
        color: #f9f9f9;
        h5 {
            display: inline-block;
            padding-left: 2px;
            padding-right: 2px;
            font-size: 11px;
            color: #f8b61d;
            font-weight: 300;
        }
        dl {
            display: inline-block;
            dt, dd {
                display: inline-block;
                padding-left: 2px;
                padding-right: 2px;
                line-height: 18px;
            }
            dt {
                font-weight: 300;
            }
        }
    }
    .copyright {
        color: #777;
        font-size: 11px;
        line-height: 16px;
        a {
            color: #777;
        }
    }
}