/* ideology */
.introduce.ideology .container { 
	padding-bottom:40px;
}
.introduce.ideology .container .tenontology .section-header > h3 {
	margin-top:40px !important;
}
.introduce.ideology .container .tenontology .section-content p {
	text-align:center;
	margin-bottom:20px;
}
.introduce.ideology .container .tenontology .section-content p strong {
	font-size:18px;
	color:#d22d36;
	line-height:25px;
}
.introduce.ideology .container .tenontology .section-content img {
	margin:0 auto;
}
.introduce.ideology .container .purpose .section-content strong {
	font-size:14px;
	color:#d22d36;
	font-weight:400;
}
.introduce.ideology .container .purpose .section-content p {
	margin-top:20px;
}
.introduce.ideology .container .target .section-content strong {
	font-size:14px;
	color:#333;
	font-weight:400;
}
.introduce.ideology .container .target .section-content ul {
	text-align:center;
	padding-top:31px;
}

.introduce.ideology .container .target .section-content ul > li {
	margin-bottom:10px;
}
.introduce.ideology .container .target .section-content ul > li img {
	margin:0 auto;
}
.introduce.ideology .container .target .section-content ul > li p { 
	letter-spacing:-1px;
	margin-top:10px;
	font-size:12px;
	color:#333;
	line-height:18px;
	text-align:center; 
}

/* vision */
.introduce.vision .container section { 
	margin-top:24px;
	min-height:67px;
	background-image:url(/mobile/images/introduce/arrow_up.png);
	background-size:13px auto;
	background-repeat:no-repeat;
	background-position:50% 100%;
}
.introduce.vision .container section .section-header {
	text-align:center;
}
.introduce.vision .container section .section-header h3 { 
	background:none;
	padding:0;
	margin:0;
	font-size:16px;
	font-weight:400;
	color:#000;
}
.introduce.vision .container section .section-content { 
	text-align:center;
}
.introduce.vision .container section .section-content p { 
	font-size:12px;
	color:#555;
	margin-top:10px;
}
.introduce.vision .container .vision {
	margin-top:39px; 
}
.introduce.vision .container .target {
	height:280px;
}
.introduce.vision .container .target .section-content ul {
	margin:12px auto 0;
	margin-top:12px;
	overflow:hidden;
	max-width:320px;

}
.introduce.vision .container .target .section-content ul li {
	background-image:url(/mobile/images/introduce/target_bg.png);
	background-repeat:no-repeat;
	background-size:100px auto;
	background-position:50% 0;
	font-size:11px;
	color:#fff;
	height:100px;
	width:50%;
	padding-top:35px;
	float:left;
}
.introduce.vision .container .target .section-content ul li:nth-of-type(3) {
	margin-top:30px;
	padding-top:43px
}
.introduce.vision .container .target .section-content ul li:nth-of-type(4) {
	margin-top:30px;
}
.introduce.vision .container .point {
	background:none;
}
.introduce.vision .container .point .section-content .point-list > li { 
	background-size:100px 100px;
	background-repeat:no-repeat;
	background-position:0 0;
	min-height:100px;
	max-width:290px;
	margin:20px auto 0;
}
.introduce.vision .container .point .section-content .point-list li h4 { 
	font-size:15px;
	color:#d22d36;
	padding:12px 0 0 114px;
	text-align:left;
	margin-bottom:10px;
}
.introduce.vision .container .point .section-content .point-list > li:nth-of-type(1) { 
	background-image:url(/mobile/images/introduce/point_img1.png);
}
.introduce.vision .container .point .section-content .point-list > li:nth-of-type(2) { 
	background-image:url(/mobile/images/introduce/point_img2.png);
}
.introduce.vision .container .point .section-content .point-list > li:nth-of-type(2) h4 { 
	padding-top:18px;
}
.introduce.vision .container .point .section-content .point-list > li:nth-of-type(3) { 
	background-image:url(/mobile/images/introduce/point_img3.png);
}
.introduce.vision .container .point .section-content .point-list > li:nth-of-type(4) { 
	background-image:url(/mobile/images/introduce/point_img4.png);
}
.introduce.vision .container .point .section-content .point-list > li:nth-of-type(5) { 
	background-image:url(/mobile/images/introduce/point_img5.png);
}
.introduce.vision .container .point .section-content .point-list li ul > li { 
	letter-spacing:-1px;
	font-size:12px;
	color:#555;
	text-align:left;
	padding-left:110px;
	line-height:18px;
}
.introduce.vision .container .point .section-content .point-list li ul > li:before { 
	content:"ㆍ";
}
.introduce.vision .container .point .section-content .speech-bubble {
	background-image:url(/mobile/images/introduce/speech_bubble.png);
	background-size:290px auto;
	background-repeat:no-repeat;
	background-position:50% 100%;
	min-height:122px;
}
.introduce.vision .container .point .section-content .speech-bubble strong { 
	margin-top:80px;
	text-align:center;
	font-size:14px;
	color:#f37021;
	display:inline-block;
	font-weight:400;
}

/* strategy */
.introduce.strategy .art { 
	margin-top:32px;
}
.introduce.strategy .art p { 
	font-size:18px;
	color:#555;
	line-height:30px;
	text-align:center;
	font-weight:400;
}
.introduce.strategy .art p strong {
	color:#d22d36;
	font-weight:400;
}
.introduce.strategy .art img { 
	margin:30px auto 0;
}
.introduce.strategy .core-strategy .section-content > div { 
	height:80px;
	background-image:url(/mobile/images/introduce/plus_btn.png);
	background-size:14px auto;
	background-repeat:no-repeat;
	background-position:50% 100%;
	margin-top:9px;
}
.introduce.strategy .core-strategy .section-content > div:nth-of-type(1) {
	margin-top:0;
}
.introduce.strategy .core-strategy .section-content > div:nth-of-type(3) {
	background:none;
	height:56px;
}
.introduce.strategy .core-strategy .section-content > div p {
	font-size:12px;
	line-height:20px;
	height:56px;
	color:#333;
	padding-top:7px;
	text-align:center;
	background-image:url(/mobile/images/introduce/bubble.png);
	background-size:290px auto;
	background-repeat:no-repeat;
	background-position:50% 0;
}
.introduce.strategy .core-strategy .section-content > div p i {
	font-style:normal;
	color:#f37021;
}
.introduce.strategy .progress-direction .section-header h3 {
	margin-bottom:50px;
}
.introduce.strategy .progress-direction .section-content > ol li { 
	position:relative;
	max-width:290px; 
	height:221px;
	background-image:url(/mobile/images/introduce/comma.png);
	background-size:12px auto;
	background-repeat:no-repeat;
	background-position:50% 48%;
	text-align:center;
	margin:0 auto 40px;
}
.introduce.strategy .progress-direction .section-content > ol li h4 { 
	position:absolute; 
	top:-27px;
	left:40%;
	background-color:#fff; 
	color:#555;
	font-size:18px;
	width:58px;
	height:58px;
	border-radius:50%;
	display:inline-block;
	padding-top:20px;
}
.introduce.strategy .progress-direction .section-content > ol li:nth-of-type(1) {
	background-color:#685b55;
}
.introduce.strategy .progress-direction .section-content > ol li:nth-of-type(2) {
	background-color:#d22d36;
}
.introduce.strategy .progress-direction .section-content > ol li:nth-of-type(2) p:nth-of-type(1) { 
	padding-top:40px;
}
.introduce.strategy .progress-direction .section-content > ol li:nth-of-type(3) {
	background-color:#685b55;
	margin-bottom:0;
}
.introduce.strategy .progress-direction .section-content > ol li p { 
	line-height:21px;
	color:#fff;
	font-size:13px;
}
.introduce.strategy .progress-direction .section-content > ol li p:nth-of-type(1) {
	padding-top:35px;
}
.introduce.strategy .progress-direction .section-content > ol li p:nth-of-type(2) {
	margin-top:50px;
}


/* emblem */
.introduce.emblem .section-header p i {
	font-style:normal;
	color:#f5b324;
	font-size:12px;
}
.introduce.emblem .section-content img { 
	margin:0 auto;
}
.introduce.emblem .didactic .section-content h4 {
	font-size:18px;
	color:#ffcb05;
	text-align:center;
	margin-bottom:17px;
}
.introduce.emblem .didactic .section-content h4 small {
	font-size:12px;
	color:#555;
}
.introduce.emblem .didactic .section-content img:nth-of-type(1) {
	margin-bottom:20px;
}
.introduce.emblem .logo-symbol .section-content > h4 {
	padding-left:15px;
	background-image:url(/mobile/images/sub/r_arrow_l.png);
	background-size:5px auto;
	background-repeat:no-repeat;
	background-position:0 4px;
	font-size:12px;
	color:#777;
	margin-bottom:10px;
}
.introduce.emblem .logo-symbol .section-content img {
	margin-bottom:20px;
}
.introduce.emblem .logo-symbol .section-content h5 {
	font-size:13px; 
	color:#555;
	margin:0;
	margin-bottom:10px;
}
.introduce.emblem .logo-symbol .section-content p {
	font-size:12px;
	color:#555;
	line-height:20px;
}
.introduce.emblem .logo-symbol .section-content p i {
	color:#d22d36;
	font-style:normal;
}
.introduce.emblem .school-banner .section-header h3 {
	margin-bottom:12px;
}
.introduce.emblem .school-banner .section-header p {
	font-size:12px;
	color:#555;
	margin-bottom:25px;
}
.introduce.emblem .school-banner .section-content p {
	text-align:center;
	font-size:12px;
	color:#777;
	margin-top:8px;
} 
.introduce.emblem .school-song .section-header h3 {
	margin-bottom:12px;
}
.introduce.emblem .school-song .section-header p { 
	margin-bottom:25px;
}

.introduce.emblem .school-song .section-content .btn-area .btn {
	width:290px !important;
	height:50px !important;
	border:1px solid #999;
	border-radius:5px;
	display:block;
	margin:0 auto;
	vertical-align:middle;
	padding:15px 0;
	color:#000;
	font-size:12px;
}
.introduce.emblem .school-song .section-content .btn-area .btn:hover {
	background-color:#ffcb05;
	border-color:#ffcb05;
}
.introduce.emblem .school-song .section-content .btn-area .song-btn {
	margin-bottom:10px;
	background-image:url(/mobile/images/introduce/sound_bg.png);
	background-size:21px auto;
	background-repeat:no-repeat;
	background-position:25px 50%;
}
.introduce.emblem .school-song .section-content .btn-area .sheet-btn {
	background-image:url(/mobile/images/introduce/text_bg.png);
	background-size:16px auto;
	background-repeat:no-repeat;
	background-position:25px 50%;
}

/* location */
.introduce.location .map { 
	margin-top:42px;
}
.introduce.location .traffic .section-content .table-wrap table thead tr th {
	height:40px;
	text-align:left;
}
.introduce.location .traffic .section-content .table-wrap table tbody tr:nth-of-type(1) td {
	border-top:0;
}
.introduce.location .traffic .section-content .table-wrap table tbody tr td { 
	padding:20px 10px;
	text-align:center;
}
.introduce.location .traffic .section-content .table-wrap table tbody tr td:nth-of-type(2) {
	text-align:left;
}
.introduce.location .traffic .section-content .table-wrap table tbody tr td dl dt {
	display:inline;
	font-weight:300;
	font-size:11px;
}
.introduce.location .traffic .section-content .table-wrap table tbody tr td dl {

}
.introduce.location .traffic .section-content .table-wrap table tbody tr td dl dd {
	display:inline;
	font-size:11px;
}
.introduce.location .traffic .section-content .table-wrap table tbody tr td dl dd:before {
	content:":";
	padding:5px;
}
.introduce.location .traffic .section-content .table-wrap table tbody tr td .arrow dt:after {
	content:"→";
	padding-left:5px;
}
.introduce.location .traffic .section-content .table-wrap table tbody tr td .arrow dd { 
	padding:0;
	padding-left:5px;
}
.introduce.location .traffic .section-content .table-wrap table tbody tr td .arrow dd:before { 
	content:"";
	padding:0;
}
.introduce.location .traffic .section-content .table-wrap {
	margin-top:20px;
}
.introduce.location .traffic .section-content .table-wrap:nth-of-type(1) {
	margin-top:0;
}
.introduce.location .bus-schedule .section-content .nav-pills {
	min-width:290px;
	margin:0 auto;
	text-align:center;
}
.introduce.location .bus-schedule .section-content .nav-pills li a {
	border-radius:0;
	color:#333;
	font-size:12px;
	margin:0;
}
.introduce.location .bus-schedule .section-content .nav-pills .active {
	border-bottom:1px solid #685b55;
	margin:0;
}
.introduce.location .bus-schedule .section-content .nav-pills .active a {
	background-color:#685b55;
	color:#fff;
	margin:0;
}
.introduce.location .bus-schedule .section-content .nav-pills li {
	width:50%;
	height:38px;
	margin:0;
	padding:0;
	background-color:#f9f9f9;
	border-bottom:1px solid #ccc;
	float:left;
	display:inline-block;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane { 
	min-width:290px;
	padding:30px 6px 0 6px;
	margin:0 auto;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul {
	overflow:hidden;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li { 
	width:25%;
	letter-spacing:-1px;
	font-size:12px;
	height:70px;
	text-align:center;	
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+1) {
	float:left;
	position:relative;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+1):after {
	position:absolute;
	top:4px;
	right:-7px;
	display:block;
	content:url(/mobile/images/introduce/right_arrow.png);
	transform: scale(.3);
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+2) {
	float:left;
	position:relative;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+2):after {
	position:absolute;
	top:4px;
	right:-7px;
	display:block;
	content:url(/mobile/images/introduce/right_arrow.png);
	transform: scale(.3);
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+3) {
	float:left;
	position:relative;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+3):after {
	position:absolute;
	top:4px;
	right:-7px;
	display:block;
	content:url(/mobile/images/introduce/right_arrow.png);
	transform: scale(.3);
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+4) {
	float:left;
	position:relative;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+4):after {
	position:absolute;
    bottom:9px;
	left:50%;
	margin-left:-11px;
    display:inline-block;
    content:url(/mobile/images/introduce/down_arrow.png);
    transform:scale(.3);
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+5) {
	float:right;
	position:relative;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+5):before {
	position:absolute;
	top:4px;
	left:-7px;
	display:block;
	content:url(/mobile/images/introduce/left_arrow.png);
	transform: scale(.3);
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+6) {
	float:right;
	position:relative;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+6):before {
	position:absolute;
	top:4px;
	left:-7px;
	display:block;
	content:url(/mobile/images/introduce/left_arrow.png);
	transform: scale(.3);
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+7) {
	float:right;
	position:relative;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+7):before {
	position:absolute;
	top:4px;
	left:-7px;
	display:block;
	content:url(/mobile/images/introduce/left_arrow.png);
	transform: scale(.3);
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+8) {
	float:right;
	position:relative;
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:nth-of-type(8n+8):after {
	position:absolute;
	bottom:9px;
	left: 50%;
	margin-left:-11px;
	display:inline-block;
	content:url(/mobile/images/introduce/down_arrow.png);
	transform: scale(.3);
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:last-child:before { 
	content:"";
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li:last-child:after { 
	content:"";
}
.introduce.location .bus-schedule .section-content .tab-content .tab-pane ul li i { 
	color:#d22d36;
	font-style:normal;
}
.height-padding{
	padding-top:8px;
}
.introduce.location .bus-schedule .section-content .table-wrap { 
	margin-top:20px;
}
.introduce.location .bus-schedule .section-content .table-wrap .table thead tr th {
	text-align:center;
	font-size:12px;
	font-weight:400;
}
.introduce.location .bus-schedule .section-content .table-wrap .table tbody tr td {
	text-align:center;
	font-size:12px;
}